<div class="main-news-banner main-news-banner--bg">
  <a routerLink="/categories">
    <div class="main-news-banner__inner map-title">
      <div class="posts posts--simple-list posts--simple-list--xlg">
        <div class="posts__item posts__item--category-1">
          <div class="posts__inner">
            <h6 class="posts__title">
              <span class="text-primary">{{'category-widget.all-categories' | translate}}</span> <br>
              {{'category-widget.and-tags' | translate}}<br>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
