
.icon-info-circled:before { content: '\e800'; } /* '' */
.icon-cancel-circled:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-globe:before { content: '\e803'; } /* '' */
.icon-check:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-videocam:before { content: '\e807'; } /* '' */
.icon-eye:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-reddit:before { content: '\f1a1'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */