<p>The 4th sex web cam site is integrated now into Lemoncams.com. Cam Soda offers
  free webcam shows as well as private shows. CamSoda is really similar to Chaturbate, where you
  can tip the cam models during their live shows and chat with them.</p>

<p>Following facts about CamSoda</p>

<ul class="list">
  <li>Founded in 2014</li>
  <li>Alexa Rank ~12000</li>
  <li>Monthly Users ~20 Million</li>
  <li>Website: <a href="https://www.camsoda.com">camsoda.com</a></li>
  <li>Live Video Preview</li>
  <li>Videos an Pictures on the cam models site</li>
</ul>

<p>You can search all cam soda models also on Lemoncams, so you will have the biggest collection of live cams only
  here</p>

<img src="{{currentAssetsFolder}}/header.jpg">
