<div *ngIf="state.footerText" class="row" style="background-color: #292c31">

  <div class="footer-widgets__inner">
    <div class="container">
      <div class="col-md-12">

        <!-- Footer Text -->
        <div *ngIf="state.footerText" class="row">

          <!-- Footer Text Title -->
          <div class="col-md-12">
            <h2>{{state.footerText.title}}</h2>
          </div><!-- Footer Text Title -->

          <!-- Footer Text Description -->
          <div class="col-md-6">
            <h4>{{"footer.description" | translate}}</h4>
            <p *ngFor="let description of state.footerText.descriptions">{{description}}</p>
          </div><!-- Footer Text Description -->

          <!-- Footer Text Features -->
          <div class="col-md-6">
            <h4>{{"footer.features" | translate}}</h4>
            <ul class="list">
              <li *ngFor="let feature of state.footerText.features">{{feature}}</li>
            </ul>
          </div><!-- Footer Text Features -->

        </div><!-- Footer Text -->

        <!-- Ico Box -->
        <div *ngIf="state.footerText.showIcobox" class="row" style="margin-top: 20px">

          <!-- Free No Registration -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="icobox icobox--center">
              <div class="icobox__icon icobox__icon--border icobox__icon--lg icobox__icon--circle">
                <i class="fa fa-videocam"></i>
              </div>
              <div class="icobox__content">
                <h4 class="icobox__title icobox__title--lg">{{"footer.icobox-free-title" | translate}}</h4>
                <div class="icobox__description">{{"footer.icobox-free-description" | translate}}</div>
              </div>
            </div>
          </div><!-- Free No Registration -->

          <!-- Cams worldwide -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="icobox icobox--center">
              <div class="icobox__icon icobox__icon--border icobox__icon--lg icobox__icon--circle">
                <i class="fa fa-globe"></i>
              </div>
              <div class="icobox__content">
                <h4 class="icobox__title icobox__title--lg">{{"footer.icobox-worldwide-title" | translate}}</h4>
                <div class="icobox__description">{{"footer.icobox-worldwide-description" | translate}}</div>
              </div>
            </div>
          </div><!-- Cams worldwide -->

          <!-- Twitter -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="icobox icobox--center">
              <a [href]="constant.TWITTER_LINK" target="_blank" rel="noopener">
                <div class="icobox__icon icobox__icon--border icobox__icon--lg icobox__icon--circle">
                  <i class="fa fa-twitter"></i>
                </div>
              </a>
              <div class="icobox__content">
                <a [href]="constant.TWITTER_LINK" target="_blank" rel="noopener">
                  <h4 class="icobox__title icobox__title--lg">{{"footer.icobox-twitter-title" | translate}}</h4>
                </a>
                <div class="icobox__description">{{"footer.icobox-twitter-description" | translate}}</div>
              </div>
            </div>
          </div><!-- Twitter -->

          <!-- Mobile Responsive -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="icobox icobox--center">
              <div class="icobox__icon icobox__icon--border icobox__icon--lg icobox__icon--circle">
                <i class="fa fa-mobile"></i>
              </div>
              <div class="icobox__content">
                <h4 class="icobox__title icobox__title--lg">{{"footer.icobox-mobile-title" | translate}}</h4>
                <div class="icobox__description">{{"footer.icobox-mobile-description" | translate}}
                </div>
              </div>
            </div>
          </div><!-- Mobile Responsive -->

        </div><!-- Ico Box -->

      </div>
    </div>
  </div>
</div>
