<!-- sex cam model details -->
<aside class="widget widget--sidebar card detail-tagcloud">
  <div class="widget__title card__header">
    <h4 class="inline">{{'detail-page.model-detail' | translate}}</h4>
    <a class="detail-social-button twitter-hover"
       rel="noopener noreferrer"
       target="_blank"
       href="{{shareTwitter}}">
      <i class="fa fa-twitter float-right"></i>
    </a>
  </div>
  <div class="widget__content card__content">
    <div class="tagcloud">
      <app-detail-tag [show]="!!cam.username"
                      [identifier]="'detail-page.username' | translate"
                      [value]="cam.username">
      </app-detail-tag>
      <app-detail-tag [show]="!!cam.age"
                      [identifier]="'age-filter.title' | translate"
                      [value]="cam.age">

      </app-detail-tag>
      <app-detail-tag [show]="!!cam.numberOfUsers"
                      [identifier]="'detail-page.viewers' | translate"
                      [value]="cam.numberOfUsers">

      </app-detail-tag>
      <app-detail-tag [show]="!!cam.gender"
                      [identifier]="'gender-filter.title' | translate"
                      [value]="cam.gender"
                      [link]="'/' + cam.gender">

      </app-detail-tag>
      <app-detail-tag [show]="!!cam.title"
                      [identifier]="'detail-page.title' | translate"
                      [value]="cam.title">

      </app-detail-tag>
      <app-detail-tag [show]="!!cam.turnsOn"
                      [identifier]="'detail-page.turns-on' | translate"
                      [value]="cam.turnsOn">

      </app-detail-tag>
      <app-detail-tag [show]="!!cam.turnsOff"
                      [identifier]="'detail-page.turns-off' | translate"
                      [value]="cam.turnsOff">

      </app-detail-tag>
      <app-detail-tag [show]="!!cam.location"
                      [identifier]="'detail-page.location' | translate"
                      [value]="cam.location"
                      [link]="locationLink">
      </app-detail-tag>
      <app-detail-tag [show]="!!cam.country"
                      [identifier]="'country-filter.title' | translate"
                      [value]="countryName"
                      [link]="'/' + countryUrl">

      </app-detail-tag>
      <app-detail-tag [show]="!!cam.languages"
                      [identifier]="'language-filter.title' | translate"
                      [value]="cam.languages">

      </app-detail-tag>
      <app-detail-tag [show]="cam.categories.length > 0"
                      [identifier]="'detail-page.categories' | translate"
                      [links]="categoryLinks">

      </app-detail-tag>
      <app-detail-tag [show]="cam.tags.length > 0"
                      [identifier]="'detail-page.tags' | translate"
                      [links]="tagLinks">
      </app-detail-tag>
      <app-detail-tag [show]="!!cam.chatRoomUrl"
                      [identifier]="'detail-page.chatroom-url' | translate"
                      [value]="'detail-page.go-to-chatroom' | translate"
                      [newWindow]="true"
                      [link]="cam.chatRoomUrl">
      </app-detail-tag>
      <app-detail-tag [show]="!!cam.provider"
                      [identifier]="'site-filter.title' | translate"
                      [value]="'provider.' + cam.provider | translate"
                      [newWindow]="false"
                      [link]="providerLink">
      </app-detail-tag>
    </div>
  </div>
</aside><!-- sex cam model details -->
