<h2 id="title" hidden>Contact {{website}}</h2>

<p>If you have one of the following requests:</p>

<ul>
  <li>You want to place an advertisement on our site</li>
  <li>You want to place a link on our site (link exchange)</li>
  <li>You have a webcam website (API) and want to add your cams to {{website}}</li>
  <li>Suggestions for new features or website improvements</li>
  <li>You found a bug on our site</li>
</ul>

<p>Feel free to contact us on: contact[at]lemoncams[dot]com</p>
