.widget-player__details-desc {
  font-size: 12px;
}

.widget-player__details-holder {
  width: auto;
  padding-right: 20px;
}

.widget-player__details-label {
  font-size: 16px;
  font-weight: bold;
}

.widget-player__details-label>a {
  color: white;
  text-decoration: underline;
}

.multiple-link {
  margin-right: 10px;
}

.widget-player__details-label>a:hover {
  color: #ffdc11;
}
