<span *ngIf="show" class="widget-player__details-holder">
  <span class="widget-player__details-desc general-highlight">{{identifier}}</span>
  <span *ngIf="!link" class="widget-player__details-label">{{value}}</span>
  <span *ngIf="link && !links" class="widget-player__details-label">
    <a *ngIf="!newWindow" routerLink="{{link}}">{{value}}</a>
    <a *ngIf="newWindow" href="{{link}}" target="_blank">{{value}}</a>
  </span>

  <span *ngIf="links"  class="widget-player__details-label">
    <a class="multiple-link" *ngFor="let strLink of links | keyvalue" routerLink="/{{strLink.value}}">{{strLink.key}}</a>
  </span>
</span>
