<h1 id="title" hidden>About Us</h1>

<h3>What is {{website}}?</h3>

<p>{{website}} is a search engine for free live erotic webcams. Amateur and professional webcam models worldwide are
  available in chat rooms and performing live sex shows. The service doesn't cost anything and you can start watching
  now!
  If you want to join the community of the current playing cam provider just click on the signup link below the cam chat
  window</p>

<div class="spacer"></div>

<h3>Who provides these webcams?</h3>

<div class="row">
  <div class="col-md-12 text-center">
    <img title="{{website}} providers" alt="{{website}} providers" src="{{aboutUsImg}}">
  </div>
</div>

<div class="spacer"></div>

<p>We currently provide all webcams of:</p>

<ul>
  <li>
    <a href="{{chaturbateSignupUrl}}">Chaturbate</a>:
    is an adult website providing live webcam performances by amateur camgirls, camboys and couples typically
    featuring nudity
    and sexual activity ranging from striptease and dirty talk to masturbation with sex toys. The site is divided
    into
    five categories:
    female cams, male cams, couple cams, transgender cams and spy shows.
    Viewers are allowed to watch for free (with the exception of Private Shows), but pay money in the form of "tips"
    in order to see certain
    sex acts performed.
    The site is the largest adult camming site competing with European BongaCams and LiveJasmin.
  </li>
  <li>
    <a href="{{bongacamsSignupUrl}}">Bongacams</a>:
    is an adult website based in the Netherlands providing live webcam performances by webcam models,
    camboys and couples typically featuring nudity and sexual activity ranging from striptease and
    dirty talk to masturbation with sex toys. All visitors are able to join general chat rooms, while models can
    earn
    money in private shows and by getting tips from registered users
  </li>
  <li>
    <a href="{{livejasminSignupUrl}}">Livejasmin</a>:
    is an adult website providing live webcam performances by camgirls, typically featuring nudity
    and sexual activity ranging from striptease and dirty talk to masturbation with sex toys. Models
    include individuals and couples. It is one of the largest adult camming websites competing with largest American
    camming site Chaturbate and largest European camming site BongaCams.
  </li>
  <li>
    <a href="{{camsodaSignupUrl}}">Cam Soda</a>:
    is one of the newer Sex Cam sites. It provides free live cams as well as private chat rooms. Models earn their
    money like Chaturbate with Tips (Tokens).
  </li>
  <li>
    <a href="{{stripchatSignupUrl}}">Stripchat</a>:
    is a great sex cam site where you can watch cams and tip cam models. Also private and group chat's are possible.
    Stripchat also supports VR-Cams and has a Sexuality Resource Center, featuring videos of therapists answering questions
    about sex and relationship issues.
  </li>
</ul>

<p>
  Because we have these providers we can deliver you the biggest collection of live sex cams on the web.
</p>


<div class="spacer"></div>

<h3>What is the benefit of {{website}}?</h3>

<div class="spacer"></div>

<div class="row">
  <div class="col-md-2_4 col-sm-6 col-xs-12">
    <div class="icobox icobox--center">
      <div class="icobox__icon icobox__icon--border icobox__icon--lg icobox__icon--circle">
        <i class="fa fa-desktop"></i>
      </div>
      <div class="icobox__content">
        <h6 class="icobox__title--lg">
          Clear User Interface
        </h6>
      </div>
    </div>
  </div>

  <div class="col-md-2_4 col-sm-6 col-xs-12">
    <div class="icobox icobox--center">
      <div class="icobox__icon icobox__icon--border icobox__icon--lg icobox__icon--circle">
        <i class="fa fa-database"></i>
      </div>
      <div class="icobox__content">
        <h6 class="icobox__title--lg">
          With 3 Webcam Providers biggest webcam site online
        </h6>
      </div>
    </div>
  </div>

  <div class="col-md-2_4 col-sm-6 col-xs-12">
    <div class="icobox icobox--center">
      <div class="icobox__icon icobox__icon--border icobox__icon--lg icobox__icon--circle">
        <i class="fa fa-globe"></i>
      </div>
      <div class="icobox__content">
        <h6 class="icobox__title--lg">
          Filter Cams by Country
        </h6>
      </div>
    </div>
  </div>

  <div class="col-md-2_4 col-sm-6 col-xs-12">
    <div class="icobox icobox--center">
      <div class="icobox__icon icobox__icon--border icobox__icon--lg icobox__icon--circle">
        <i class="fa fa-search"></i>
      </div>
      <div class="icobox__content">
        <h6 class="icobox__title--lg">
          Advanced Search Algorithm
        </h6>
      </div>
    </div>
  </div>

  <div class="col-md-2_4 col-sm-4 col-xs-12">
    <div class="icobox icobox--center">
      <div class="icobox__icon icobox__icon--border icobox__icon--lg icobox__icon--circle">
        <i class="fa fa-filter"></i>
      </div>
      <div class="icobox__content">
        <h6 class="icobox__title--lg">
          Filter by Gender, Haircolor, Language, Bodytype
        </h6>
      </div>
    </div>
  </div>

</div>

<div class="spacer"></div>

<p>We consistently try to improve our website by implementing new features to increase the live webcam experience for
  you. We hope in the future we can add some new webcam providers, improve the user interface and develop new
  innovations.</p>

<div class="spacer"></div>

<h3>World Map of Sex Cams</h3>

<p>One of our key features is to search your favorite cam on our <a href="/world-map-of-sex-cams">world map</a> where you can
  filter the cams by country. The more dark the colour is, the more cams you can find in that country.
Hover over the country and you see it's name and the number of cams</p>

<p>Below you see all countries listed grouped by continent and its flags</p>

<div class="row">
  <div class="col-sm-12 col-md-12 text-center">
    <a href="/assets/content/about/world_map.jpg">
      <img src="assets/content/about/world_map.jpg" alt="lemoncams world map of sex cams" title="lemoncams world map of sex cams">
    </a>
  </div>
</div>

<div class="spacer"></div>
<div class="spacer"></div>

<h3>Sex Cam Roulette</h3>

<p>If you are tired to search for specific cams use our <a href="/roulette">Roulette</a> function. Out of thousands of cams we choose one randomly.
You can press "next" to switch to the next random cam or "previous" to load the cams you already watched before.</p>

<div class="row">
  <div class="col-sm-12 col-md-12 text-center">
    <a href="/assets/content/about/roulette.jpg">
      <img src="assets/content/about/roulette.jpg" alt="lemoncams sex cam roulette" title="lemoncams sex cam roulette">
    </a>
  </div>
</div>

<div class="spacer"></div>
<div class="spacer"></div>

<h3>Responsive Web Design</h3>

<p>{{website}} works perfectly on all devices like Smartphones, Tablets and Desktops. So no matter if you want to watch
  live porn at home or have a nice cam chat on the road on your mobile phone, {{website}}.com is always available.</p>

<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="icobox icobox--center">
      <div class="icobox__icon icobox__icon--border icobox__icon--lg icobox__icon--circle">
        <i class="fa fa-desktop"></i>
      </div>
      <div class="icobox__content">
        <h4 class="icobox__title icobox__title--lg">
          Desktop
        </h4>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="icobox icobox--center">
      <div class="icobox__icon icobox__icon--border icobox__icon--lg icobox__icon--circle">
        <i class="fa fa-tablet"></i>
      </div>
      <div class="icobox__content">
        <h4 class="icobox__title icobox__title--lg">
          Tablet
        </h4>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="icobox icobox--center">
      <div class="icobox__icon icobox__icon--border icobox__icon--lg icobox__icon--circle">
        <i class="fa fa-mobile"></i>
      </div>
      <div class="icobox__content">
        <h4 class="icobox__title icobox__title--lg">
          Mobile
        </h4>
      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>

<h3>Autocomplete</h3>

<p>We provide autocomplete functionality in our search bar to offer the best search experience.
  You just remember parts of your favorites cam girl's username? Use autocomplete to help you find
  the cam you are looking for.
</p>

<div class="row">
  <div class="col-sm-12 col-md-6 text-center">
    <a href="/assets/content/about/autocomplete.png">
      <img title="Lemoncams Autocomplete" alt="Lemoncams Autocomplete" src="/assets/content/about/autocomplete.png">
    </a>
  </div>

  <div class="spacer"></div>

  <div class="col-sm-12 col-md-6">
    <h6>For the following properties you can search for</h6>

    <ul>
      <li>Cam Girl or Boy Username</li>
      <li>Country</li>
      <li>Category</li>
      <li>Hair Color</li>
      <li>Gender</li>
      <li>Attribute</li>
      <li>Age</li>
      <li>Body</li>
      <li>Language</li>
      <li>World Map of Sex Cams</li>
    </ul>
  </div>
</div>

<div class="spacer"></div>
<div class="spacer"></div>

<h3>Social Media Presence</h3>

<div class="spacer"></div>

<div class="row">
  <div class="col-md-2 col-sm-3 col-xs-12">
    <a href="{{twitterLink}}">
      <div class="icobox icobox--center">
        <div class="icobox__icon icobox__icon--border icobox__icon--lg icobox__icon--circle">
          <i class="fa fa-twitter"></i>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-10 col-sm-9 col-xs-12">
    <p>If you are a cam model and want to be promoted on our <a href="{{twitterLink}}" target="_blank">twitter
      account</a> don't hesitate to contact us. We can
      promote you with sexy pictures or send out tweets if you go online to increase your followers! We regularly post
      sexy videos and pictures on our Twitter Feed. Don't hesitate and follow us!</p>
  </div>

</div>




