.page_heading_override {
  background-image: none;
  padding-top: 0;
  padding-bottom: 10px;
}

/** the page heading **/
.page_heading_override::before {
  background-image: none;
}

.page-heading__title {
  font-size: 14px;
  margin-left: 10px;
}

.posts__item--card, .posts__item--card:last-child {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .page-heading .breadcrumb {
    padding: 0
  }
}

.page-sub-title {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .page-title {
    font-size: 25px;
  }
}

@media (max-width: 991px) {
  .page-title {
    font-size: 18px;
  }
}

.flag-column {
  padding-right: 12px;
}

.post-author__avatar {
  height: 60px !important;
  width: 60px !important;
  border-radius: 4px;
}
