<div class="row">
  <div class="col-md-12 posts__item--card card-margin-bottom">

    <table>
      <tr>
        <td rowspan="2" class="flag-column">
          <figure *ngIf="state.country" class="post-author__avatar">
            <img class="flag-avatar" src="{{countryS.getFlagUrlWithCode(state.country)}}"
                 (error)="$event.target.src=countryS.defaultUserLogo">
          </figure>
        </td>
        <td>
          <h1 class="page-title inline">{{title}}
            <a data-toggle="collapse" data-target="#homeDescription">
              <i class="pointer fa fa-info-circled page-title-info"></i>
            </a>
          </h1>
          <h4 *ngIf="size" class="page-heading__title general-highlight inline">{{noResults ? 0 : size}}
            {{"cam-page.cams-online" | translate}}
          </h4>
        </td>
      </tr>
      <tr>
        <td>
          <p id="homeDescription" class="collapse page-sub-title" [ngClass]="[screen.isHiddenSmDown() ? 'in' : '']">
            {{description}}</p>
        </td>
      </tr>
    </table>


  </div>
</div>

