<!-- Footer
================================================== -->
<footer id="footer" class="footer">

  <!-- Footer Primary -->
  <div class="footer-widgets">

    <app-footer-page></app-footer-page>

    <div class="footer-widgets__inner">
      <div class="container">


        <!-- Footer Content -->
        <div class="row">

          <!-- Footer Logo -->
          <div
            inViewport
            [inViewportOptions]="{ threshold: [0] }"
            (inViewportAction)="onIntersection($event)"
            class="col-sm-12 col-md-3">
            <div class="footer-col-inner">
              <div class="footer-logo">
                <a routerLink="/">
                  <img *ngIf="showImage" [src]="'assets/images_hector/logo/' + constant.getProject() + '/footer_logo.png'" width="250" height="250"
                       [alt]='constant.getWebsite() + " Logo"'
                       class="footer-logo__img">
                </a>
              </div>
            </div>
          </div><!-- Footer Logo -->

          <!-- Site Info -->
          <div class="col-sm-4 col-md-3">
            <div class="footer-col-inner">
              <!-- Widget: Contact Info -->
              <div class="widget widget--footer widget-contact-info">
                <h4 class="widget__title">{{'footer.site-info' | translate}}</h4>
                <div class="widget__content">
                  <div class="widget-contact-info__desc">
                    <p
                      [innerHtml]='"footer.site-info-content" | translate:{subdomain: this.constant.getSubDomain()}'></p>
                  </div>
                </div>
              </div><!-- Widget: Contact Info / End -->
            </div>

          </div>

          <!-- Site Index -->
          <div class="col-sm-4 col-md-3">
            <div class="footer-col-inner">
              <div class="widget widget--footer widget-popular-posts">
                <h4 class="widget__title">{{'footer.site-index' | translate}}</h4>
                <div class="widget__content">
                  <ul class="posts posts--simple-list">

                    <!-- Home -->
                    <li class="posts__item">
                      <h6 class="posts__title"><a routerLink="/">{{'header.home' | translate}}</a></h6>
                    </li>

                    <!-- Cams -->
                    <li *ngIf="!this.constant.isSubSite()" class="posts__item">
                      <h6 class="posts__title"><a routerLink="/cams">{{'categories.all-cams' | translate}}</a></h6>
                    </li>

                    <!-- Countries -->
                    <li class="posts__item">
                      <h6 *ngIf="!this.constant.isSubSite()" class="posts__title"><a
                        routerLink="/world-map-of-sex-cams">{{'header.world-map' | translate}}</a></h6>
                      <h6 *ngIf="this.constant.isSubSite()" class="posts__title"><a
                        href="https://www.lemoncams.com/world-map-of-sex-cams" target="_blank">{{'header.world-map' |
                        translate}}</a></h6>
                    </li>

                    <!-- Categories -->
                    <li class="posts__item">
                      <h6 class="posts__title"><a routerLink="/categories">{{'header.categories' | translate}}</a></h6>
                    </li>

                    <!-- Roulette -->
                    <li class="posts__item">
                      <h6 class="posts__title"><a routerLink="/roulette">{{'header.roulette' | translate}}</a></h6>
                    </li>

                    <!-- About -->
                    <li class="posts__item">
                      <h6 class="posts__title"><a routerLink="/about">{{'header.about' | translate}}</a></h6>
                    </li>

                    <!-- Sitemap -->
                    <li *ngIf="!this.constant.isSubSite()" class="posts__item">
                      <h6 class="posts__title"><a routerLink="/sitemap">{{'sitemap-page.title' | translate}}</a></h6>
                    </li>

                    <!-- Models wanted -->
                    <li class="posts__item">
                      <h6 *ngIf="!this.constant.isSubSite()" class="posts__title"><a
                        routerLink="/blog/how-to-become-a-webcam-model">{{'header.models-wanted' | translate}}</a></h6>
                      <h6 *ngIf="this.constant.isSubSite()" class="posts__title"><a
                        href="https://www.lemoncams.com/blog/how-to-become-a-webcam-model" target="_blank">{{'header.models-wanted'
                        | translate}}</a></h6>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div><!-- Site Index -->

          <!-- Site Footer -->
          <div class="col-sm-4 col-md-3">
            <div class="footer-col-inner">
              <div class="widget widget--footer widget-popular-posts">
                <h3 class="widget__title">{{'footer.site-footer' | translate}}</h3>
                <div class="widget__content">
                  <ul class="posts posts--simple-list">

                    <li class="posts__item">
                      <h6 class="posts__title"><a rel="nofollow" routerLink="/privacy">{{'footer.privacy' |
                        translate}}</a>
                      </h6>
                    </li>
                    <li class="posts__item">
                      <h6 class="posts__title"><a rel="nofollow" routerLink="/terms">{{'footer.terms' | translate}}</a>
                      </h6>
                    </li>
                    <li class="posts__item">
                      <h6 class="posts__title"><a rel="nofollow" routerLink="/2257">2257</a></h6>
                    </li>
                    <li class="posts__item">
                      <h6 class="posts__title"><a rel="nofollow" routerLink="/privacy">{{'footer.privacy' |
                        translate}}</a>
                      </h6>
                    </li>
                    <li class="posts__item">
                      <h6 class="posts__title"><a rel="nofollow" routerLink="/copyright">{{'footer.copyright' |
                        translate}}</a></h6>
                    </li>
                    <li class="posts__item">
                      <h6 class="posts__title"><a rel="nofollow" routerLink="/contact">{{'footer.contact' |
                        translate}}</a></h6>
                    </li>
                    <li *ngIf="!this.constant.isSubSite()" class="posts__item">
                      <div class="info-block__item info-block__item--nopadding">
                        <h6 class="posts__title"><a [href]="constant.TWITTER_LINK" target="_blank" rel="noopener">
                          <i class="fa fa-twitter"></i>
                          <span class="social-media-title">Twitter</span>
                        </a>
                        </h6>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div><!-- Site Footer -->


        </div><!-- Footer Content -->

        <!-- Listed On -->
        <div class="row">
          <div class="widget-tagcloud widget__content card__content">
            <div class="tagcloud">
              <span *ngIf="partner.lists && partner.lists.length > 0" class="btn btn-lg listed-by btn-sm no-border">Links:</span>
              <a *ngFor="let p of partner.lists" [href]="p.link" target="_blank" rel="noopener"
                 class="btn listed-by">{{p.text}}</a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>


  <!-- Footer Secondary -->
  <div class="footer-secondary footer-secondary--has-decor">
    <div class="container">
      <div class="footer-secondary__inner">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <ul class="footer-nav">
              <li class="footer-nav__item"><a routerLink="/" target="_blank">{{'© ' + year + ' ' +
              this.constant.getWebsite()}}</a></li>
              <li class="footer-nav__item"><a href="http://www.parentalcontrolbar.org/" target="_blank" rel="noopener">{{'footer.parental-control'
                | translate}}</a></li>
              <li class="footer-nav__item">
                <a target="_blank" href="http://www.rtalabel.org/" rel="noopener">
                  <img *ngIf="showImage" src="./assets/images_hector/rta.gif">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Secondary / End -->
</footer>
<!-- Footer / End -->
