@media (min-width: 992px) {
  .footer-secondary--has-decor .footer-secondary__inner {
    padding: 26px 0 26px 0;
  }
}

.posts__title {
  text-align: center;
}

.widget__title {
  text-align: center;
}

.widget__content {
  text-align: center;
}

.listed-by {
  padding: 10px !important;
}

.footer-widgets__inner {
  padding-bottom: 0;
}

.social-media-title{
  margin-left: 10px;
}
