<!-- filter widget -->
<aside *ngIf="activeFilters" class="widget card widget--sidebar widget_filter-size">
  <form action="#" class="filter-size-form">
    <div class="widget__title card__header card__header--has-btn">
      <a class="pointer" data-toggle="collapse" data-target="#filterElements">
        <h4 class="inline">{{"filter-widget.title" | translate}}</h4>
        <span *ngIf="screen.isHiddenMdUp()"
              class=" btn cams-online-info">{{size}} {{"cam-page.cams" | translate}}</span>
      </a>
      <a
        routerLink="/cams"
        rel=”nofollow”
        class="btn btn-default btn-outline btn-xs card-header__button reset-button">
        {{"filter-widget.reset" | translate}}
      </a>
      <span
        *ngIf="screen.isHiddenMdUp()"
        class="main-nav__toggle"
        data-toggle="collapse"
        data-target="#filterElements">
          </span>
      <div class="active-filter">
            <span class="label posts__cat-label" *ngFor="let af of activeFilters">
              {{af.identifier | translate}}
              {{(af.textValue) ? '= ' + (af.textValue | translate) : ''}}
              {{(af.realValue) ? '= ' + af.realValue : ''}}
            </span>
      </div>

    </div>
    <div id="filterElements" class="collapse" [ngClass]="[screen.isHiddenSmDown() ? 'in' : '']">
      <div class="widget__content card__content">
        <ul class="widget__list">

          <!-- gender filter -->
          <li class="has-children">
            <a class="pointer" data-toggle="collapse" data-target="#genderElements">
              {{"gender-filter.title" | translate}}
            </a>
            <div id="genderElements" class="collapse in">
              <ul>
                <li>
                  <div *ngFor="let filter of filters.genderFilters" class="form-group form-group--sm">
                    <a rel=”nofollow” routerLink="{{'/' + filter.link}}">
                      <label class="checkbox filter_checkbox checkbox-inline">
                        <input [(checked)]="filter.isChecked" type="checkbox">
                        {{filter.translationCode | translate}}
                        <span class="checkbox-indicator"></span>
                      </label>
                    </a>
                  </div>
                </li>
              </ul>
            </div>

          </li><!-- gender filter -->

          <!-- age filter -->
          <li class="has-children">
            <a class="pointer" data-toggle="collapse" data-target="#ageElements">
              {{"age-filter.title" | translate}}
            </a>
            <div id="ageElements" class="collapse" [ngClass]="[filters.oneAgeFilterIsSelected() ? 'in' : '']">
              <ul>
                <li>
                  <div *ngFor="let filter of filters.ageFilters" class="form-group form-group--sm">
                    <a rel=”nofollow” routerLink="{{'/' + filter.link}}">
                      <label class="checkbox filter_checkbox checkbox-inline">
                        <input [(checked)]="filter.isChecked"
                               type="checkbox">{{filter.translationCode}}
                        <span class="checkbox-indicator"></span>
                      </label>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </li><!-- age filter -->

          <!-- category filter -->
          <li class="has-children">
            <a class="pointer" data-toggle="collapse" data-target="#catElements">
              {{"category-filter.title" | translate}}
            </a>
            <div id="catElements" class="collapse" [ngClass]="[filters.oneCategoryFilterIsSelected() ? 'in' : '']">
              <ul>
                <li>
                  <div *ngFor="let filter of filters.categoryFilters" class="form-group form-group--sm">
                    <a rel=”nofollow” routerLink="{{'/' + filter.link}}">
                      <label class="checkbox filter_checkbox checkbox-inline">
                        <input [(checked)]="filter.isChecked" type="checkbox">
                        {{filter.translationCode | translate}}
                        <span
                          class="checkbox-indicator"></span>
                      </label>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </li><!-- category filter -->

          <!-- language filter -->
          <li class="has-children">
            <a class="pointer" data-toggle="collapse" data-target="#langElements">
              {{"language-filter.title" | translate}}
            </a>
            <div id="langElements" class="collapse" [ngClass]="[filters.oneLanguageFilterIsSelected() ? 'in' : '']">
              <ul>
                <li>
                  <div *ngFor="let filter of filters.languageFilters" class="form-group form-group--sm">
                    <a rel=”nofollow” routerLink="{{'/' + filter.link}}">
                      <label class="checkbox filter_checkbox checkbox-inline">
                        <input [(checked)]="filter.isChecked" type="checkbox">
                        {{filter.translationCode | translate}}
                        <span
                          class="checkbox-indicator"></span>
                      </label>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </li><!-- language filter -->

          <!-- haircolor filter -->
          <li class="has-children">
            <a class="pointer" data-toggle="collapse" data-target="#hairElements">
              {{"hair-filter.title" | translate}}
            </a>
            <div id="hairElements" class="collapse" [ngClass]="[filters.oneHairFilterIsSelected() ? 'in' : '']">
              <ul>
                <li>
                  <div *ngFor="let filter of filters.haircolorFilters" class="form-group form-group--sm">
                    <a rel=”nofollow” routerLink="{{'/' + filter.link}}">
                      <label class="checkbox filter_checkbox checkbox-inline">
                        <input [(checked)]="filter.isChecked" type="checkbox">
                        {{filter.translationCode | translate}}
                        <span class="checkbox-indicator"></span>
                      </label>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </li><!-- haircolor filter -->

          <!-- body filter -->
          <li class="has-children">
            <a class="pointer" data-toggle="collapse" data-target="#bodyElements">
              {{"body-filter.title" | translate}}
            </a>
            <div id="bodyElements" class="collapse" [ngClass]="[filters.oneBodyFilterIsSelected()? 'in' : '']">
              <ul>
                <li>
                  <div *ngFor="let filter of filters.bodyFilters" class="form-group form-group--sm">
                    <a rel=”nofollow” routerLink="{{'/' + filter.link}}">
                      <label class="checkbox filter_checkbox checkbox-inline">
                        <input [(checked)]="filter.isChecked" type="checkbox">
                        {{filter.translationCode | translate}}
                        <span class="checkbox-indicator"></span>
                      </label>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </li><!-- body filter -->

          <!-- site filter -->
          <li class="has-children">
            <a class="pointer" data-toggle="collapse" data-target="#siteElements">
              {{"site-filter.title" | translate}}
            </a>
            <div id="siteElements" class="collapse" [ngClass]="[filters.oneSiteFilterIsSelected()? 'in' : '']">
              <ul>
                <li>
                  <div *ngFor="let filter of filters.siteFilters" class="form-group form-group--sm">
                    <a rel=”nofollow” routerLink="{{'/' + filter.link}}">
                      <label class="checkbox filter_checkbox checkbox-inline">
                        <input [(checked)]="filter.isChecked" type="checkbox">
                        {{filter.translationCode | translate}}
                        <span class="checkbox-indicator"></span>
                      </label>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </li><!-- site filter -->

          <!-- attribute filter -->
          <li class="has-children">
            <a class="pointer" data-toggle="collapse" data-target="#attrElements">
              {{"attribute-filter.title" | translate}}
            </a>
            <div id="attrElements" class="collapse" [ngClass]="[filters.oneAttributeFilterIsSelected() ? 'in' : '']">
              <ul>
                <li>
                  <div *ngFor="let filter of filters.attributeFilters" class="form-group form-group--sm">
                    <a rel=”nofollow” routerLink="{{'/' + filter.link}}">
                      <label class="checkbox filter_checkbox checkbox-inline">
                        <input [(checked)]="filter.isChecked" type="checkbox">
                        {{filter.translationCode | translate}}
                        <span class="checkbox-indicator"></span>
                      </label>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </li><!-- attribute filter -->

        </ul>
      </div> <!-- age filter -->
    </div>

  </form>
</aside><!-- filter widget -->
