.filter_checkbox {
  font-size: 12px;
}

.reset-button {
  border-color: transparent;
}

.reset-button:hover {
  background-color: transparent;
  border-color: transparent;
}

@media (max-width: 767px) {
  .reset-button {
    margin-right: 20px;
  }
}

.last_checkbox {
  margin-bottom: 0px;
}

.active-filter {
  margin-top: 5px;
}

.active-filter > span {
  margin: 3px;
  color: #1e2024;
  padding: .3em 0.5em;
  font-size: 10px;
}

.card__header--has-btn {
  padding-top: 15px;
  padding-bottom: 9px;
}

.widget__list > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

.widget__list > li.has-children {
  background-position: right 24px top 19px;
}

.card__header--has-btn > a > h4 {
  margin-bottom: 0;
}

.card__header--has-btn > a {
  display: inline-block;
}

@media (max-width: 992px) {
  .card__header .card-header__button {
    float: right;
  }
}

.cams-online-info {
  padding-left: 10px;
}

