<div class="main-news-banner main-news-banner--bg">
  <a *ngIf="!this.constant.isSubSite()" routerLink="/world-map-of-sex-cams">
    <div class="main-news-banner__inner map-title">
      <div class="posts posts--simple-list posts--simple-list--xlg">
        <div class="posts__item posts__item--category-1">
          <div class="posts__inner">
            <h6 class="posts__title">
              {{'country-widget.world-map' | translate}} <br>
              <span class="text-primary">{{'country-widget.of' | translate}}</span> <br>
              {{'country-widget.sex-cams' | translate}}
            </h6>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a *ngIf="this.constant.isSubSite()" href="https://www.lemoncams.com/world-map-of-sex-cams" target="_blank">
    <div class="main-news-banner__inner map-title">
      <div class="posts posts--simple-list posts--simple-list--xlg">
        <div class="posts__item posts__item--category-1">
          <div class="posts__inner">
            <h6 class="posts__title">
              {{'country-widget.world-map' | translate}} <br>
              <span class="text-primary">{{'country-widget.of' | translate}}</span> <br>
              {{'country-widget.sex-cams' | translate}}
            </h6>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
