.header-logo {
  bottom: -10px !important;
  width: 800px !important;
}

@media only screen and (max-width: 991px) {
  .header-mobile__logo-img {
    width: 200px !important;
  }
}

.general-highlight {
  color: #d52b1e !important;
}

.pagination > .active > a {
  background-color: #d52b1e !important;
  border-color: #d52b1e !important;
}

#jprePercentage::after {
  content: "SEXCAMSUSA.COM" !important;
}

.tag-cloud-btn:hover {
  background-color: #d52b1e !important;
}

#jprePercentage {
  color: #d52b1e !important;
}

.header-logo__img {
  -webkit-filter: drop-shadow(3px 3px 2px #fff) contrast(120%) !important;
  filter: drop-shadow(2px 2px 2px #fff) contrast(120%) !important;
}

.header-mobile__logo-img {
  -webkit-filter: drop-shadow(2px 2px 1px #fff) contrast(120%)!important;
  filter: drop-shadow(2px 2px 1px #fff) contrast(120%) !important;
}
