<h2 id="title" hidden>Copyright infringement</h2>

<p>We are in a partnership with several webcam content providers. If you have any problem regarding to copyright
  infringements or the content in general use the following links of
  our content providers. You can see the logo of the content provider in the live stream of the cam.</p>

<ul>
  <li>Chaturbate: <a href="https://chaturbate.com/terms/">LINK (see paragraph DMCA)</a></li>
  <li>Bongacams: <a href="https://en.bongacams.com/dmca">LINK</a></li>
  <li>Livejasmin: <a href="https://www.livejasmin.com/en/dmca">LINK</a></li>
</ul>

<p>For all other complaints or requests regarding to the material contact us: contact[at]lemoncams[dot]com</p>
