<!-- related movies title -->
<div *ngIf="showTitle" class="row related-movies-title">
  <div class="col-12">
    <h1 class="page-heading__title text-center">{{"detail-page.related" | translate}} <span class="highlight">{{"detail-page.cams" | translate}}</span>
    </h1>
  </div>
</div><!-- related movies title -->


<!-- related movies -->
<div class="posts posts--cards post-grid row">

  <!-- post grid item ngfor -->
  <div *ngFor="let relatedCam of relatedCams; let i = index">

    <app-webcam-thumb *ngIf="relatedCam.imageUrl" class="post-grid__item col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4"
                      [cam]="relatedCam"></app-webcam-thumb>

  </div><!-- post grid item ngfor -->

</div>  <!-- related movies -->
