.header-logo {
  bottom: -20px !important;
  width: 500px !important;
}

.general-highlight {
  color: #d52b1e !important;
}

.pagination > .active > a {
  background-color: #d52b1e !important;
  border-color: #d52b1e !important;
}

#jprePercentage::after {
  content: "CANADIANSEXCAMS.COM" !important;
}

.tag-cloud-btn:hover {
  background-color: #d52b1e !important;
}

#jprePercentage {
  color: #d52b1e !important;
}
