<div class="container">
  <app-webcam-title [noResults]="noResults" [size]="size" [categories]="categories"></app-webcam-title>

  <div class="row">

    <!-- left column -->
    <div class="sidebar sidebar--shop col-xs-12 col-sm-3 col-md-3 col-lg-2">

      <!-- filter -->
      <app-webcam-filter #filterComponent [categories]="categories" [size]="size"></app-webcam-filter>

      <!-- world map -->
      <app-country-thumb *ngIf="screen.isHiddenSmDown() && cams"></app-country-thumb>

      <!-- all categories -->
      <app-category-thumb *ngIf="screen.isHiddenSmDown() && cams"></app-category-thumb>

      <!-- roulette -->
      <app-roulette-thumb *ngIf="screen.isHiddenSmDown() && cams"></app-roulette-thumb>

      <!-- model link -->
      <app-model-thumb *ngIf="screen.isHiddenSmDown() && cams"></app-model-thumb>

      <!-- world map -->
      <app-country-thumb *ngIf="screen.isHiddenSmDown() && cams"></app-country-thumb>

      <!-- all categories -->
      <app-category-thumb *ngIf="screen.isHiddenSmDown() && cams"></app-category-thumb>

      <!-- roulette -->
      <app-roulette-thumb *ngIf="screen.isHiddenSmDown() && cams"></app-roulette-thumb>

    </div><!-- left column -->


    <!-- cam grid -->
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">

      <!-- posts -->
      <div class="posts posts--cards post-grid row">

        <!-- no results -->
        <div *ngIf="noResults" class="post-grid__item col-sm-12">
          <a class="btn-social-counter btn-social-counter--card btn-social-counter--rss no_results_backgr">
            <div class="btn-social-counter__name"><i class="fa fa-cancel-circled"></i> {{"cam-page.no-result" |
              translate}}
            </div>
            <footer class="btn-social-counter__footer">
              <h6 class="btn-social-counter__title">{{"cam-page.no-result-detail" | translate}}</h6>
            </footer>
          </a>
        </div><!-- no results -->

        <!-- post grid item ngfor -->
        <div *ngFor="let cam of cams; let i = index">

          <app-webcam-thumb
            *ngIf="cam.imageUrl"
            class="post-grid__item col-xxs-12 col-xs-4 col-sm-6 col-md-4 col-lg-3"
            [cam]="cam">
          </app-webcam-thumb>

        </div><!-- post grid item ngfor -->


      </div> <!-- posts -->

    </div><!-- cam grid -->

    <!-- pagination -->
    <div *ngIf="allPagination" class="centered text-center">
      <ul *ngFor="let pagination of allPagination.paginations" class="pagination" style="text-align: center;">
        <li class="page-item" [ngClass]="[pagination.isActive ? 'active' : '']">
          <a
            *ngIf="pagination.isPage"
            class="page-link"
            [rel]="!isCams ? 'nofollow' : ''"
            [routerLink]="['/' + allPagination.basicUrl + (pagination.page != 1 ? '/' + pagination.page : '')]"
          >{{pagination.page}}</a>
          <a *ngIf="!pagination.isPage" class="page-link pagination_ellipsis">. . .</a>
        </li>
      </ul>
    </div> <!-- pagination -->


  </div> <!-- row -->
</div>

