@media (min-width: 1199px) {
  .btn-social-counter--card {
    height: auto;
  }
}

@media (min-width: 992px) {
  .btn-social-counter--card {
    height: auto;
  }
}

.no_results_backgr {
  border: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #292c31;
}

.btn-social-counter--card {
  height: 150px;
}

.pagination_ellipsis {
  background-color: transparent;
  border: 0;
}

.pagination_ellipsis:hover {
  background-color: transparent;
}

