<p>
  Websites which offer to watch live sex cams are fast growing. That's why a lot of people nowadays search their
  financial freedom in cam modelling. But take care, it's not that you will earn a lot of money overnight, it still
  needs a little bit of work to come to the point where you can make a living as a cam model. I hope Lemoncams can
  help
  you to find you the entrance in the adult webcam world.
</p>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/general/money.jpg" target="_blank" rel="noopener">
    <img width="600" src="{{currentAssetsFolder}}/general/money.jpg"
         alt="Make money as a cam model- Work less > Earn more"
         title="Make money as a cam model- Work less > Earn more">
  </a>
  <figcaption>Make money as a cam model- Work less > Earn more</figcaption>
</figure>

<!-- BENEFITS -->

<h2 id="benefits" class="blog-title"><span class="general-highlight">1. </span>What are the benefits of being a cam
  model?</h2>

<div class="spacer"></div>

<div class="row">

  <div class="col-md-4 col-sm-12 col-xs-12">
    <div class="icobox icobox--center">
      <div class="icobox__icon icobox__icon--border icobox__icon--lg icobox__icon--circle">
        <i class="fa fa-user"></i>
      </div>
      <div class="icobox__content">
        <h5 class="icobox__title--lg">
          Be your own boss
        </h5>
        <div class="icobox__description">
          Decide how much you work. 2 Hours a day is maybe enough for you
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12 col-xs-12">
    <div class="icobox icobox--center">
      <div class="icobox__icon icobox__icon--border icobox__icon--lg icobox__icon--circle">
        <i class="fa fa-home"></i>
      </div>
      <div class="icobox__content">
        <h5 class="icobox__title--lg">
          Location Independence
        </h5>
        <div class="icobox__description">
          Work from home, a professional studio or wherever you want to
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12 col-xs-12">
    <div class="icobox icobox--center">
      <div class="icobox__icon icobox__icon--border icobox__icon--lg icobox__icon--circle">
        <i class="fa fa-dollar"></i>
      </div>
      <div class="icobox__content">
        <h5 class="icobox__title--lg">
          Make a lot of money
        </h5>
        <div class="icobox__description">
          If you work really hard you could make up to 100$ an hour
        </div>
      </div>
    </div>
  </div>

</div>

<!-- REQUIREMENTS -->

<h2 id="requirements" class="blog-title"><span class="general-highlight">2. </span>What are the requirements before I
  can start?</h2>

<p>To start as a webcam model you don't need much equipment. You probably already have a a good internet connection
  and notebook or a computer. Just make sure you fulfill all the following points and you can start camming straight
  away</p>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/general/requirements.png" target="_blank" rel="noopener">
    <img width="600" src="{{currentAssetsFolder}}/general/requirements.png"
         alt="You don't need much to start as a webcam model"
         title="You don't need much to start as a webcam model">
  </a>
  <figcaption>You don't need much to start as a webcam model</figcaption>
</figure>

<ul class="list">
  <li>You need to be <strong>18 year old</strong> at least</li>
  <li>You need a laptop or a desktop computer</li>
  <li>You need a good internet connection</li>
  <li>You need a</li>
  <li>You need an account on a camsite</li>
</ul>

<!-- CAM SITE -->

<h2 id="camsite" class="blog-title"><span class="general-highlight">3. </span>Which Cam Site should I choose to start?
</h2>

<p>There are plenty of cam sites out there and all these sites have their pros and cons. Lemoncams recommend the 3
  biggest sites <a href="{{chaturbateModelSignupUrl}}" target="_blank">Chaturbate</a>, <a
    href="{{bongacamsModelSignupUrl}}" target="_blank">Bongacams</a> , <a
    href="{{livejasminModelSignupUrl}}"
    target="_blank">Live Jasmin</a>,
  <a href="{{camsodaModelSignupUrl}}">Camsoda</a> and <a href="{{stripchatModelSignupUrl}}">Stripchat</a> These
  three
  sites use excellent promotion tools so that also a huge amount of third party providers (like lemoncams.com) shows
  their content. You can be sure that they have the most users and it's easier for you to start with cam providers
  which
  have a lot of internet traffic and active users in their community.
</p>

<h6 id="chaturbate" class="blog-subtitle">Chaturbate</h6>

<p>Chaturbate is currently the biggest website for cam models in the world. With Alexa Rank 117 (October 2018) and
  over
  400 Million
  Users a month they have a huge amount of potential customers for you. Chaturbate is a token cam site. That means to
  watch the show is actually free for the user but they can tip you with tokens. These tokens can be used to reach a
  tip
  goal (when you will perform a certain action), to join a private show or to unlock pre-recorded pictures and
  videos on your chaturbate profile site.</p>

<p>
  <a href="{{chaturbateModelSignupUrl}}" target="_blank">Signup as Chaturbate Cam Model</a>
</p>

<h6 id="bongacams" class="blog-subtitle">Bongacams</h6>

<p>Bongacams is European (Amsterdam) based cam site and has especially a big East European and Russian Community. Like
  Chaturbate Bongacams is a freemium Site, so the users can watch the your show for free if you don't declare it as
  private or group chat. The most money you will earn from Tokens the users tip you. You get tokens for
  group-, private or voyeur/spy chats and also tips. With Alexa Rank 92
  (October 2018) and over 120 Million Users a month Bongacams is the biggest competitor of Chaturbate for
  Tokencams.</p>

<p>
  <a href="{{bongacamsModelSignupUrl}}" target="_blank">Signup as a Bongamodel</a>
</p>

<h6 id="livejasmin" class="blog-subtitle">Live Jasmin</h6>

<p>Live Jasmin is private chat cam site and you won't get tipped by tokens like Chaturbate or Bongacams. The models
  earn
  money by private chats which they arrange
  in the public chatroom with their users. Users can also interact with the models with the Cam2Cam Feature. With
  Alexa
  Rank 56 (October 2018) and over 260 Million Users monthly Live Jasmin is one of the biggest cam sites in the
  world.</p>

<p>
  <a href="{{livejasminModelSignupUrl}}" target="_blank">Signup as a Live Jasmin Cam Model</a>
</p>

<h6 id="camsoda" class="blog-subtitle">Cam Soda</h6>

<p>Cam Soda is a cam site founded in 2014. It's one of the few sites which offers a 360° Virtual Reality experience.
  The cam ranks on Alexa on place 12'128 and has around 18 million monthly visitors (2020). The site offers mostly
  public free
  cam shows as well as private shows.</p>

<p>
  <a href="{{camsodaModelSignupUrl}}" target="_blank">Signup as a Cam Soda Cam Model</a>
</p>

<h6 id="stripchat" class="blog-subtitle">Stripchat</h6>

<p>Stripchat is a cam site where you can tip the cam models and also start private and group chats. The site was
  founded in 2016 and is on Alexa Rank 16600 globally and has around 110 million monthly visitors (2020).
  In February 2020, Stripchat announced the launch of a Sexuality Resource Center, featuring videos of therapists
  answering questions about sex and relationship issues.[8] The site began hosting live stream sessions
  with licensed therapists in July 2019 after a study of users showed that many felt anxiety about their cam viewing</p>

<p>
  <a href="{{stripchatModelSignupUrl}}" target="_blank">Signup as a Stripchat Model</a>
</p>

<!-- SIGNUP -->

<h2 id="signup" class="blog-title"><span class="general-highlight">4. </span>The Signup</h2>

<p>If you sign up at one of the recommended cam sites you have to type in your personal information such as username,
  password, birthday, gender. You have to verify that your 18 by uploading your ID. After your verified your age
  successfully you should spend some time to make the best cam girl profile possible.</p>

<h6 class="blog-subtitle">Your Profile</h6>

<p>Make sure that you fill out all information possible and write an interesting bio. On the most cam sites it's
  possible to add some html content to improve the looking of your profile page. Add text, images and video to make
  your
  profile page more attracting to users.</p>

<h6 class="blog-subtitle">Your Username</h6>

<p>Choose your username wisely. Your username is your brand and it
  should not be changed after a few months later
  because
  you didn't like it. Check that your username is memorable, sexy and of course not your real name.</p>

<h6 class="blog-subtitle">Read about the rules and features</h6>

<p>Read everything you can about your site you signed up. What are the rules and how do you use all the features of
  the
  site. How does the chat window work? How can you open a private chat? How can you earn money? Get familiar with the
  website before you start broadcasting your show</p>

<h3 id="username" class="blog-title"><span class="general-highlight">4.1 </span>Which username should I choose?</h3>


<p>During your signup you have to pick a username. This decision is important, because your adult
  performer
  name is the main part of your brand. And after you work for a few weeks or months with a specific name it makes not
  much sense to rename your account. Your users won't find you on Google with your old name and you have to do a
  rebranding, rename your social media accounts and so on. So better pick your perfect name at the beginning.</p>


<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/name/think.jpg" target="_blank" rel="noopener">
    <img width="600" src="{{currentAssetsFolder}}/name/think.jpg"
         alt="Choose your name wisely, because renaming after a few months can cause you a loss of clients">
  </a>
  <figcaption>Choose your name wisely, because renaming after a few months can cause you a loss of clients</figcaption>
</figure>

<h3>A name which people can memorize</h3>

<p>Your name has to be memorable. So your name should be short and unique and should not contain a concatenation of
  consonants. For example <strong>xxx_hot_bunny_xxx_1987</strong> it's not the best name to remember. Because it has
  too
  many consonants, too many special characters (underline) and a number which is not easy to remember. You can use a
  number in your username, a lot of models do it, but then choose one which is easier to remember.</p>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/name/bang.jpg" target="_blank" rel="noopener">
    <img width="500" src="{{currentAssetsFolder}}/name/bang.jpg"
         alt="Choose a short and unique name which people will remember"
         title="Choose a short and unique name which people will remember">
  </a>
  <figcaption>Choose a short and unique name which people will remember</figcaption>
</figure>

<h3>Don't use your real name</h3>

<p>Don't use your real name. Your privacy it's at stake here. You don't want some weird stalkers in front your house
  suddenly or maybe you don't want all people to know that you are performing on erotic webcam chats. If you use your
  real name, people will find you on search engines like Google or Bing easily and I think that's not what you want
  here.</p>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/name/google.jpg" target="_blank" rel="noopener">
    <img width="500" src="{{currentAssetsFolder}}/name/google.jpg"
         alt="Your real name should not show your erotic cam model profile on Google > so don't use your real name as alias"
         title="Your real name should not show your erotic cam model profile on Google > so don't use your real name as alias">
  </a>
  <figcaption>Your real name should not show your erotic cam model profile on Google > so don't use your real name as
    alias
  </figcaption>
</figure>

<h3>Some ideas to find a name</h3>

<ul class="list">
  <li><strong>Use an animal in your name: </strong>SexyFoxxy</li>
  <li><strong>Use the country/origin or in your name: </strong>russian_diamond, asian_dream_bae</li>
  <li><strong>Use the name of your pet in combination with a number: </strong>stacy69</li>
  <li><strong>Include your passion in your name: </strong>gothic_seduction, brittney_anal, mistress_elena</li>
  <li><strong>You have a unique appearance? </strong>big_sandy, pink_lucy</li>
  <li><strong>If you’re transsecual than you can use it in the name: </strong>tranny_melissa, cock_queen</li>
  <li><strong>You perform as a couple? mention it: </strong>robert_and_tracy</li>
  <li><strong>Use a name you wish you had since you were born: </strong>angelina_spencer, ashely_taylor</li>
  <li><strong>Use a sexy adjective: </strong>juicy_nancy, wildwet_scarlett</li>
</ul>

<h3>Use Name Generator Tools</h3>

<p>If you cannot figure out a proper name for you, try to find new ideas by using name generator tools. These tools
  have
  advanced features such as giving the region of the name or the gender. Try combine a random first name with a random
  last name and maybe it's exactly the name you like for your cam model profile</p>

<figure class="aligncenter">
  <a href="https://www.name-generator.org.uk/" target="_blank" rel="noopener">
    <img width="300" src="{{currentAssetsFolder}}/name/generator_1.jpg"
         alt="https://www.name-generator.org.uk"
         title="https://www.name-generator.org.uk">
  </a>
  <figcaption>https://www.name-generator.org.uk</figcaption>
</figure>

<figure class="aligncenter">
  <a href="https://www.behindthename.com/random/" target="_blank" rel="noopener">
    <img width="300" src="{{currentAssetsFolder}}/name/generator_2.jpg"
         alt="https://www.behindthename.com/random"
         title="https://www.behindthename.com/random">
  </a>
  <figcaption>https://www.behindthename.com/random</figcaption>
</figure>

<figure class="aligncenter">
  <a href="https://www.fakenamegenerator.com" target="_blank" rel="noopener">
    <img width="300" src="{{currentAssetsFolder}}/name/generator_3.jpg"
         alt="https://www.fakenamegenerator.com"
         title="https://www.fakenamegenerator.com">
  </a>
  <figcaption>https://www.fakenamegenerator.com</figcaption>
</figure>

<h3>A list of top performer cam model names</h3>

<p>Here is a list of cam model names. <strong>These names are already taken! So you cannot use them!</strong>. These
  cam
  models have in our opinion good names and have high user
  numbers. It's just to have an idea what could work you and what names other models choose.</p>

<p>Before you make your final decision search the name on Google and check if a similar alias has not been taken yet,
  because your name should be totally unique out there.</p>

<ul class="list">
  <li>baby_girla</li>
  <li>wetdream11</li>
  <li>goodvibescouple</li>
  <li>shycountrycutie</li>
  <li>squirtmcgirt36</li>
  <li>camilagomezz</li>
  <li>emmachoice</li>
  <li>venezolanacute</li>
  <li>sexyhotwifeporn</li>
  <li>adeletaylor</li>
  <li>hornyco57</li>
  <li>knee_ling</li>
  <li>ryannabanks</li>
  <li>lola03</li>
  <li>foxandfoxy</li>
  <li>whiteandmexicanboys</li>
  <li>its_lana</li>
  <li>emma_johnson</li>
  <li>goticfairy</li>
  <li>naughtykathie</li>
  <li>vanandjuani</li>
  <li>champagnefun</li>
  <li>omgitslacie</li>
</ul>

<!-- BUILD FANBASE -->

<h2 id="fanbase" class="blog-title"><span class="general-highlight">5. </span>Build your fan base</h2>

<p>The key of your success will be to interact with the users and to build a relationship with your fans. During your
  cam show start talking with your clients preferably by voice and not by chat window. Read their messages and
  respond.
  With this tactic you will keep your clients in your chat room and they will be addicted to your charm. Also ask them
  questions what they want to see and what they like, with this way you will easier collect tips than just sitting
  there
  and do nothing.</p>

<h3 id="socialmedia" class="blog-title"><span class="general-highlight">5.1 </span>Use Social Media</h3>

<p>Create an account on Twitter and start posting sexy pictures of you. Grow up your follower’s base. It will take a
  little bit time to have thousands of followers but in the end it will worth it. Start posting when you're going
  online, so that your fans now when they can attend your live show. Try to connect with Cam Promoters who will
  retweet
  your posts. For example search for Chaturbate Promo and try to message them if they could help you.</p>


<figure class="aligncenter">
  <a href="https://www.twitter.com" target="_blank" rel="noopener">
    <img width="500" src="{{currentAssetsFolder}}/twitter/twitter_intro.jpg"
         alt="Twitter will help you to grow your audience as a cam model"
         title="Twitter will help you to grow your audience as a cam model">
  </a>
  <figcaption>Twitter will help you to grow your audience as a cam model</figcaption>
</figure>

<p>
  Twitter is a big marketing tool for webcam models and can help you to keep contact to your clients, find potential
  new users and strengthen your brand as a cam model out there. If you are a new model follow these steps to be
  successful on Twitter
</p>

<h3>1. Signup on Twitter</h3>

<p>Go on Twitter.com and create an account. As a username try to use exactly the same name as the name of your cam
  site (Exactly the same spelling). This is important that users who saw you already live can find you easier on
  Google
  or directly on Twitter</p>


<h3>2. Setup your profile</h3>

<h6 class="blog-subtitle">Sensitive Content</h6>

<p>If you plan to upload sensitive content (complete naked pictures or pornographic content), than you have to mark
  your
  profile as sensitive. If you don't do it you will risk that your profile will be blocked. It's not necessary to show
  naked pictures of you. First look on other cam girls Twitter pages what they post and then decide what kind of
  content
  you want to tweet. You can change this in your settings under "privacy and safety". The following content is counted
  as sensitive for Twitter:</p>

<p><i>“We consider adult content to be any media that is pornographic and/or may be intended to cause sexual arousal.
  Some
  examples include, but are not limited to, depictions of: full or partial nudity (including close-ups of genitals,
  buttocks, or breasts). Breastfeeding content does not need to be marked as sensitive. simulating a sexual act
  intercourse or any sexual act (may involve humans, humanoid animals, cartoons, or anime)”</i></p>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/twitter/twitter_sensitive_content_big.jpg" target="_blank" rel="noopener">
    <img width="500" src="{{currentAssetsFolder}}/twitter/twitter_sensitive_content.jpg"
         alt="Twitter Profile with sensitive content setting"
         title="Twitter Profile with sensitive content setting">
  </a>
  <figcaption>Twitter Profile with sensitive content setting</figcaption>
</figure>

<h6 class="blog-subtitle">Profile Picture</h6>

<p>Upload a pretty picture of your face which it’s kind of sexy and looks welcoming as well. You cannot show your body
  on the
  profile picture, it is too small for that. Optimum profile picture size to upload is 400x400 Pixel. Look that it
  looks
  sharp before you think you are finished.</p>

<h6 class="blog-subtitle">Header</h6>

<p>Choose a header for your profile page. The header should make clear that you are a cam girl or work in the
  xxx-area. You can show your body but please no nude picture because this is not allowed (So no breasts, vagina or
  dicks). But of course the picture can be in sexy underwear or you can show part of your ass. You can also include
  your
  logo or your username in the header. The upload size should be 1500x500 pixels</p>

<h6 class="blog-subtitle">Twitter-Bio</h6>

<p>Write in your bio who you are or kind of an interesting opener. Add the link of your profile page on your cam site
  or the link of your blog (if you have). You can just add one web page per profile on Twitter unfortunately.</p>

<h6 class="blog-subtitle">Pinned Tweet</h6>

<p>If you think you need more space to present yourself or you want to share more website links you can pin one tweet
  on
  top of your profile page including one picture or video. Just write a tweet and "pin it on your profile page"
  (dropdown on the right top corner of the tweet).</p>

<h6 class="blog-subtitle">Some good examples of Twitter profiles</h6>

<div class="spacer"></div>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/twitter/twitter_profile_1_big.jpg" target="_blank" rel="noopener">
    <img width="1000" src="{{currentAssetsFolder}}/twitter/twitter_profile_1.jpg"
         alt="A good twitter profile for a cam girl"
         title="A good twitter profile for a cam girl">
  </a>
</figure>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/twitter/twitter_profile_2_big.jpg" target="_blank" rel="noopener">
    <img width="1000" src="{{currentAssetsFolder}}/twitter/twitter_profile_2.jpg"
         alt="A good twitter profile for a cam girl"
         title="A good twitter profile for a cam girl">
  </a>
</figure>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/twitter/twitter_profile_3_big.jpg" target="_blank" rel="noopener">
    <img width="1000" src="{{currentAssetsFolder}}/twitter/twitter_profile_3.jpg"
         alt="A good twitter profile for a cam girl"
         title="A good twitter profile for a cam girl">
  </a>
</figure>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/twitter/twitter_profile_4_big.jpg" target="_blank" rel="noopener">
    <img width="1000" src="{{currentAssetsFolder}}/twitter/twitter_profile_4.jpg"
         alt="A good twitter profile for a cam girl"
         title="A good twitter profile for a cam girl">
  </a>
</figure>

<div class="spacer"></div>

<h3>3. Start tweeting</h3>

<h6 class="blog-subtitle">Tweet regularly</h6>

<p>Tweet around 5-7 times a day. Don't spend too much time on it, maybe around 30 minutes a day should be enough.</p>

<h6 class="blog-subtitle">Interaction is the key!</h6>

<p>Your tweets should be around 80 Characters long, so not too short and not too long. If you write a post than try to
  look it like a interaction. These posts will get a lot more attraction than if you just post a picture of you and
  describe "sexy pose" or something. Get the attention of the user by asking them questions or give commands. Possible
  tweets could be</p>

<ul class="list">
  <li>Retweet if you like my new red panties (with picture)</li>
  <li>Should I go live tomorrow? "fuck yes" or "absolutely yes" (with poll)</li>
  <li>Retweet if you wish I was your cum slut</li>
  <li>You wanna see this body naked? Join my cam show tonight from 8pm-10pm (us)</li>
  <li>Retweet for a surprise in your dm (and then you send him one nude pic if he retweeted you)</li>
  <li>Feel lonely common for a chat with me tonight from 8pm-10pm (us)</li>
  <li>Retweet if you would cum on my face (with picture)</li>
</ul>

<p>This are just a few examples of tweets you could send. If you need more inspiration search on Twitter for
  #camgirl, #chaturbate or #cammodel</p>

<h6 class="blog-subtitle">Connect to Promoters</h6>

<p>There are plenty of Promoters on Chaturbate which earn money with affiliate links. Search on Twitter for "Camgirl
  Promo", "Chaturbate Promo" or "Cam Model Promo" etc. Send them a message if they would like to retweet one of your
  posts. Pretty sure they will do it and you will get a lot of impressions on your tweet. Also use the @ symbol in
  your
  tweets and include your promoters. Here an example of going online:</p>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/twitter/twitter_at_tag_big.jpg" target="_blank" rel="noopener">
    <img width="300" src="{{currentAssetsFolder}}/twitter/twitter_at_tag.jpg"
         alt="Twitter Profile with sensitive content setting"
         title="Twitter Profile with sensitive content setting">
  </a>
  <figcaption>Twitter Profile with sensitive content setting</figcaption>
</figure>

<h6 class="blog-subtitle">Use the right Hashtags</h6>

<p>If you post a hot picture of you or also on your posts in general you should use hashtags. Don't use too much
  hashtags because this will lower the relevance of the hashtag in your post. 2-3 Hashtags could are enough. If you
  post a picture of your boobs than figure out what is the most used hashtag on twitter for tits. You can look how
  other cam girls doo that or gather some ideas on <a href="https://ritetag.com/best-hashtags-for/camgirl"
                                                      rel="noopener">Ritetag</a>. Also use the @ token for twitter
  profiles which show erotic content. For boobs post you could possible mention @HDBoobs, @TheLovelyBoobs or
  @BoobCritic. If they like your picture maybe they will retweet or copy one of your tweets and your post will have a
  lot of clicks and impressions. There are plenty of erotic pages like this you could mention, just research on
  Twitter
  which could be fitting to you.</p>


<h3>4. Grow your Audience</h3>

<p>To reach out more people and that your profile looks successful it's quite important to have a lot of followers. A
  profile with a lot of followers looks more attractive and will also automatically attract more people.</p>

<h6 class="blog-subtitle">Don't buy followers</h6>

<p>Your profile should grow in a normal way and you should not have fake fans. People will recognize that that you
  conduct
  kind of a fake profile. What looks more unauthentic than a Twitter profile with 10000 followers and 50 posts? You
  interact with people and to get in touch with your fans, keep that in mind. It's to build up a community around your
  brand as a camgirl and not just to get traffic and clicks</p>

<h6 class="blog-subtitle">How to get more followers faster</h6>

<p>A common trick to grow faster is to follow a lot of people and then some of them will follow you back. But don't
  just
  follow everyone. Go on a page of a cam girl and check all followers she have. Follow them who could be potential
  customers. You can maximum follow around 1000 people a day.</p>

<p>This tactic will lead to the problem that you follow a lot more people than people follow you. So your profile will
  look spammy in the first place. So from time to time you should unfollow the people who are not following you.
  Twitter
  doesn't allow automated tools anymore and to do it manually will need too much time. But you can execute a
  little script which will do this for you</p>

<h6 class="blog-subtitle">Unfollow all people who are not following you</h6>


<ol>
  <li>Open your browser, go in your Twitter profile and on "following" to show all the people you follow</li>
  <li>Press F12 to open the browser development window</li>
  <li>In the development window click on "console"</li>
  <li>Insert the following code and press enter:</li>

  <div class="spacer"></div>
  <pre>
    <code>setInterval(function() { window.scrollTo(0, document.body.scrollHeight); }, 2000);</code>
  </pre>
  <div class="spacer"></div>

  <li>This script will scroll down to the bottom of the page. If you have thousands of followers this could take more
    than an hour. Just leave browser window running in the background
  </li>
  <li>If the page has scrolled down insert the following code in the console and press enter again:</li>

  <div class="spacer"></div>
  <pre>
    <code>
      $('.ProfileCard-content').each(function(){
      var status = $(this).find('.FollowStatus').text();
      var unfollowButton = $(this).find('.user-actions-follow-button');
      if(!status){unfollowButton.click();
      }});
    </code>
  </pre>
</ol>

<div class="spacer"></div>

<h6 class="blog-subtitle">Always follow back!</h6>

<p>So you want more followers but others want that too. Be aware that other people use that strategy as well and some
  of
  them
  will unfollow you if you don't follow back. There is a good tool to see who follows you and you don't follow
  back.</p>

<ol>
  <li>Open <a href="https://unfollowerstats.com/" rel="noopener" target="_blank">Unfollowerstats.com</a></li>
  <li>Sign In with Twitter</li>
  <li>Click on the left side on I-DontFollowback and follow everyone</li>
</ol>


<h3>5. Don't give up</h3>

<p>It need's time to grow your audience for your cam show as well as to get a lot of followers on Twitter. Keep
  working
  on your profile and keep tweeting daily. But in the end this work will pay off for your success as a cam model.</p>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/twitter/motivation.jpg" target="_blank" rel="noopener">
    <img width="500" src="{{currentAssetsFolder}}/twitter/motivation.jpg"
         alt="Keep on Tweeting"
         title="Keep on Tweeting">
  </a>
  <figcaption>Keep on Tweeting</figcaption>
</figure>

<h2 id="equipment" class="blog-title"><span class="general-highlight">6. </span>Equipment and Technical Stuff</h2>

<h3 id="internet" class="blog-title"><span class="general-highlight">6.1 </span>Internet Speed</h3>

<p>The internet connection is incredibly important for a career as a cam model. The high upload speed is important to
  deliver a reasonable quality for your cam stream. High download speed is just required if you do private cam to cam
  streams but anyway the most internet providers will deliver a lot higher download than upload stream. Don’t consider
  to safe money for your internet connection, because a low quality or unstable video stream can cost you a lot of
  potential clients</p>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/internet/speed.jpg" target="_blank" rel="noopener">
    <img width="500" src="{{currentAssetsFolder}}/internet/speed.jpg"
         alt="A high internet speed will increase your incomes"
         title="A high internet speed will increase your incomes">
  </a>
  <figcaption>Keep on Tweeting</figcaption>
</figure>

<h3>Which speed is required?</h3>

<p>The absolute minimum speed for camming is around 1mbps (Megabits per seconds > take care NOT Megabyte). On the
  following table you see the minimum speeds for
  different resolutions. But that are minimum values. It's always better to have a higher speed because maybe also
  other
  people use your internet connection or you need your connection parallel for something else than camming.</p>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/internet/table.png" target="_blank" rel="noopener">
    <img width="700" src="{{currentAssetsFolder}}/internet/table_thumb.png"
         alt="Minimum upload internet speed for different resolutions"
         title="Minimum upload internet speed for different resolutions">
  </a>
  <figcaption>Minimum upload internet speed for different resolutions</figcaption>
</figure>

<h3>What is my current internet download/upload speed?</h3>

<figure class="aligncenter">
  <a href="http://lemoncams.speedtestcustom.com" target="_blank" rel="noopener">
    <img width="700" src="{{currentAssetsFolder}}/internet/speedtest.jpg"
         alt="Speedtest"
         title="Speedtest">
  </a>
  <figcaption>Speedtest</figcaption>
</figure>

<h3>Compare internet providers</h3>

<p>Compare the different internet providers in your country. Mostly the current internet provider you use doesn't
  offer the best package for you. Sometimes you can also choose packages with a higher upload rate which is important
  as a cam
  girl or cam boy.</p>

<h3>Use an Ethernet cable instead of Wi-Fi</h3>

<p>A Wi-Fi connection is mostly slower than a direct connection with a Ethernet cable or at least has the same speed.
  To
  buy an Ethernet cable isn't expensive and it's definitely one of the investments which is worth it. Simply connect
  the
  router with your notebook or PC and that's it.</p>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/internet/ethernet.jpg" target="_blank" rel="noopener">
    <img width="500" src="{{currentAssetsFolder}}/internet/ethernet.jpg"
         alt="With an Ethernet cable you can use the full speed of your internet connection"
         title="With an Ethernet cable you can use the full speed of your internet connection">
  </a>
  <figcaption>With an Ethernet cable you can use the full speed of your internet connection</figcaption>
</figure>

<h3>Change the position of your Wi-Fi router</h3>

<p>If you don't want to use an Ethernet cable you should at least check that your Wi-Fi router has an optimized
  position.
  The best is if your device is in sight of your computer. The rule is simple, the closer the router is to your
  notebook the faster is the connection. The worst is if your router is behind a wall, another room or even in another
  floor. Every obstacle will decrease the strength of the Wi-Fi signal and your cam stream will slow down.</p>

<a href="https://www.huffingtonpost.com.mx/entry/wifi-router-placement-tips_n_6943024" target="_blank" rel="noopener">Where
  to place your Wi-Fi router</a>

<div class="spacer"></div>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/internet/router.jpg" target="_blank" rel="noopener">
    <img width="500" src="{{currentAssetsFolder}}/internet/router.jpg"
         alt="The position of your router matters"
         title="The position of your router matters">
  </a>
  <figcaption>The position of your router matters</figcaption>
</figure>

<h3>Don't share your internet connection</h3>

<p>One of the biggest problems is if you share the internet with other people in your house or studio. If someone is
  also camming or uploads big files your stream will slow down or lack massively. If that's the case regularly you
  should consider to make an own contract with an internet provider to have always the full connection speed</p>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/internet/share.jpg" target="_blank" rel="noopener">
    <img width="500" src="{{currentAssetsFolder}}/internet/share.jpg"
         alt="Sharing the internet will decrease your speed"
         title="Sharing the internet will decrease your speed">
  </a>
  <figcaption>Sharing the internet will decrease your speed</figcaption>
</figure>

<h3>Don't run other processes while you are camming</h3>

<p>While you are presenting your live show do not run a lot of other program's which use a lot of upload speed. This
  will slower down your internet connection massively. If you think something is decreasing your internet speed in the
  background try to run an antivirus program. If you are using windows you can check which programs use a lot of
  connection speed if you press: CTRL + ALT + DELETE > Task Manager > and then check the network column.</p>

<h5>Sources:</h5>
<a href="https://www.boxcast.com/blog/what-upload-speed-do-i-need-to-stream" rel="noopener" target="_blank">https://www.boxcast.com/blog/what-upload-speed-do-i-need-to-stream
  (Chaturbate uses H.264)</a>


<h3 id="webcams" class="blog-title"><span class="general-highlight">6.2 </span>Best Webcams for Cam Modelling</h3>

<p xmlns="http://www.w3.org/1999/html">A good webcam is essential for a webcam model. Webcams deliver better picture
  quality in HD-Ready (720p) or Full HD
  (1080p) which the most build-in cameras in notebooks cannot deliver. Also they have microphones with better sound
  quality and a higher fps rate (frames per second), so your stream will appear more fluently. Don't save money by not
  buying a webcam. It's definitely the wrong way to go.</p>

<p>We will show you the 3 cams which are used by cam models and which are in 3 different price categories</p>

<ol class="list">
  <li><strong>Logitech C920</strong></li>
  <li><strong>Microsoft Lifecam HD-3000</strong></li>
  <li><strong>Logitech BRIO 4K</strong></li>
</ol>

<h3>Requirements</h3>

<ul class="list">
  <li><strong>Resolution: </strong> Your cam should have a least a resolution of 720p. This resolution looks awesome
    on
    the
    most devices. 1080p looks slightly better but it's not really necessary to use it.
  </li>
  <li><strong>Cable: </strong>Look that there is a cable which is at least 1m long, so you are more flexible where to
    place your webcam.
  </li>
  <li><strong>FPS: </strong>You need at least 30fps (frames per second) that your stream looks fluent. 60fps would be
    optimal, you will see the difference. Look at this video:


  </li>
</ul>

<h3 id="C920">The most popular - Logitech C920</h3>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/webcams/c920.png" target="_blank" rel="noopener">
    <img width="500" src="{{currentAssetsFolder}}/webcams/c920_thumb.png"
         alt="Logitech C920"
         title="Logitech C920">
  </a>
  <figcaption>Logitech C920</figcaption>
</figure>

<p>The Logitech C920 is the all-rounder under the webcams and it's by far the most used webcam for cam models
  nowadays. It has 2 Microphones and you can also record Full HD (1080p) movies which you could use to record and sell
  videos on your profile page. The only disadvantage is that the recording of your videos has only 10-20fps which is
  not
  optimal for a real good xxx movie.</p>

<ul class="List">
  <li><strong>Resolution: </strong> 1080p/30fps 720p/30fps</li>
  <li><strong>Cable: </strong> 5ft (1.5m)</li>
  <li><strong>Price: </strong> 80$</li>
</ul>

<h3 id="HD3000">The budget variant - Microsoft Lifecam HD-3000</h3>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/webcams/hd3000.png" target="_blank" rel="noopener">
    <img width="400" src="{{currentAssetsFolder}}/webcams/hd3000_thumb.png"
         alt="Microsoft Lifecam HD-3000"
         title="Microsoft Lifecam HD-3000">
  </a>
  <figcaption>Microsoft Lifecam HD-3000</figcaption>
</figure>

<p>The Microsoft Lifecam is cheaper than the C920 but can still fulfill the requirements for cam modelling. You have
  no
  Full HD and the quality of the zoom is not that good. But still 720p is quite a good resolution</p>

<ul class="List">
  <li><strong>Resolution: </strong> 720p/30fps</li>
  <li><strong>Cable: </strong> 5ft (1.5m)</li>
  <li><strong>Price: </strong> 40$</li>
</ul>

<h3 id="BRIO">The professional choice - Logitech BRIO 4K</h3>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/webcams/brio.png" target="_blank" rel="noopener">
    <img width="500" src="{{currentAssetsFolder}}/webcams/brio_thumb.png"
         alt="Logitech BRIO 4K"
         title="Logitech BRIO 4K">
  </a>
  <figcaption>Logitech BRIO 4K</figcaption>
</figure>

<p>If you want to deliver the best quality possible the Logitech BRIO 4K should be your choice. The 4K Resolution
  isn't
  necessary because webcam sites don't stream in 4K yet. But the sharpness and the colours are definitely better than
  the
  C920 and you can stream 1080p in 60fps which looks amazing. The C920 could be enough for cam modelling but if you
  want
  to stand out of the masses maybe it's worth to spend a little bit more in your equipment</p>

<ul class="List">
  <li><strong>Resolution: </strong> 4K830fps 1080p/30/60fps 720p/30/60/90fps</li>
  <li><strong>Cable: </strong> 5ft (1.5m)</li>
  <li><strong>Price: </strong> 200$</li>
</ul>
