<h2 id="title" hidden>18 U.S.C. 2257 Compliance Notice</h2>

<p>In compliance with the Federal Labelling and Record-Keeping Law (also known as 18 U.S.C. 2257), all models located
  within our domain were 18 years of age or older during the time of the life stream. All models' proof of age is held by
  the custodian of records, which is listed below. All content and images are in full compliance with the requirements
  of 18 U.S.C. 2257 and associated regulations.</p>

<p>The model information, pictures and life content is no produced by lemoncams.com. If you have any problems or
  requests regarding to the content > see how you can contact our content providers: <a href="/copyright">LINK</a></p>
