<div class="posts posts--cards posts--cards-thumb-left post-list">
  <div *ngFor="let blogEntry of blogEntries" class="post-list__item">
    <div class="posts__item posts__item--card posts__item--category-1 card card--block">

      <figure class="posts__thumb">
        <a [href]="'/blog/' + blogEntry.url">
          <img [src]='"assets/blog/" + blogEntry.url + "/thumb.jpg"' alt="">
        </a>
      </figure>

      <div class="posts__inner">
        <div class="card__content">
          <div class="posts__cat">
            <span class="label posts__cat-label">{{blogEntry.category}}</span>
          </div>
          <h6 class="posts__title">
            <a [href]="'/blog/' + blogEntry.url">{{blogEntry.title}}</a>
          </h6>
          <time [dateTime]="blogEntry.date" class="posts__date">{{blogEntry.date}}</time>
          <div class="posts__excerpt">{{blogEntry.description}}
          </div>
        </div>
        <footer class="posts__footer card__footer">
          <div class="post-author">
            <figure class="post-author__avatar">
              <img src="assets/images_hector/logo/lemoncams/user_logo.png"
                   alt="Post Author Avatar">
            </figure>
            <div class="post-author__info">
              <h4 class="post-author__name">Lemoncams</h4>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>

</div><!-- Posts List / End --><!-- Post Pagination -->

<!-- pagination -->
<div *ngIf="allPagination" class="centered text-center">
  <ul *ngFor="let pagination of allPagination.paginations" class="pagination" style="text-align: center;">
    <li class="page-item" [ngClass]="[pagination.isActive ? 'active' : '']">
      <a
        *ngIf="pagination.isPage"
        class="page-link"
        [routerLink]="['/' + allPagination.basicUrl + (pagination.page != 1 ? '/' + pagination.page : '')]"
      >{{pagination.page}}</a>
      <a *ngIf="!pagination.isPage" class="page-link pagination_ellipsis">. . .</a>
    </li>
  </ul>
</div> <!-- pagination -->
