.card__content-ad {
  padding: 10px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_content-ad-center {
  margin: 0;
  max-width: 100%;
}

.link-ad {
  padding-right: 20px;
  margin-bottom: 15px
}

.card__header {
  border-radius: 0;
}

@media only screen and (max-width: 767px) {
  .link-ad {
    padding-left: 20px;
  }
}
