<a *ngIf="isLink" href="{{linkSrc}}" class="btn-social-counter btn-social-counter--instagram link-ad" target="_blank">
  <h6 class="btn-social-counter__title">{{ad.translationCode | translate}}</h6>
</a>


<aside
  inViewport
  [inViewportOptions]="{ threshold: [0] }"
  (inViewportAction)="onIntersection($event)"
  *ngIf="isHtml"
  class="widget card widget--sidebar widget-banner">
  <div class="widget__title card__header"><h4>{{title}}</h4></div>
  <div *ngIf="showAd" class="widget__content card__content card__content-ad">

    <!-- If the ad has no script we can use inner Html -->
    <div
      *ngIf="!hasScript"
      [innerHtml]="htmlSrc | safeHtml"
      class="card_content-ad-center">
    </div>

    <!-- Ads with scripts need iframe to execute properly -->
    <!-- Problem is here that the content cannot be resized to its parent -->
    <!-- That's wy we should prefer ads without scripts to use innerHtml -->
    <iframe
      *ngIf="hasScript"
      #adElement
      class="card_content-ad-center"
      scrolling="no"
      frameBorder="0"
      (load)="onLoad()"
      [src]="htmlSrc | safe">
    </iframe>

  </div>
</aside>
