.detail-description {
  margin-bottom: 0;
}

.more-link {
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 12px;
}

.more-link-title {
  font-size: 12px;
}

.previous-button {
  margin-right: 10px;
  width: 150px;
}

.next-button {
  margin-left: 10px;
  width: 150px;
}
