<div *ngIf="isRandom" class="col-md-6 col-sm-12 card-margin-bottom">

  <table>
    <tr>
      <td rowspan="2">
        <figure class="post-author__avatar">
          <img alt="Lemoncams Roulette" class="flag-avatar" src="./assets/images_hector/roulette.png">
        </figure>
      </td>
      <td>
        <h1 class="page-title inline">
          {{'detail-page.page-title-random' | translate}}
          <span class="general-highlight">{{this.state.username}}</span>
          <a data-toggle="collapse" data-target="#detailRandomDescription">
            <i class="pointer fa fa-info-circled page-title-info"></i>
          </a>
        </h1>

      </td>
    </tr>
    <tr>
      <td>
        <p
          id="detailRandomDescription"
          class="collapse page-sub-title detail-description"
          [ngClass]="[screen.isHiddenSmDown() ? 'in' : '']">{{'detail-page.sub-title-random' | translate}}</p>
      </td>
    </tr>
  </table>

</div>

<div *ngIf="isRandom" class="col-sm-12 col-md-6 col-lg-4 card-margin-bottom text-center">
  <a *ngIf="hasPreviousButton.apply(null)" (click)="previousRandomCam(null)" class="btn btn-danger btn-sm previous-button">Previous</a>
  <a (click)="nextRandomCam.apply(null)" class="btn btn-success btn-sm next-button">Next</a>
</div>

<div *ngIf="!isRandom" class="col-md-12 card-margin-bottom">

  <table>
    <tr>
      <td rowspan="2">
        <a *ngIf="cam.country" routerLink="{{'/' + this.countryUrl}}">
          <figure class="post-author__avatar">
            <img class="flag-avatar" src="{{countryS.getFlagUrlWithCode(cam.country)}}"
                 (error)="$event.target.src=countryS.defaultUserLogo">
          </figure>
        </a>
      </td>
      <td>
        <h1 translate [translateParams]="{value: state.username}" class="page-title inline">detail-page.page-title
          <a data-toggle="collapse" data-target="#detailDescription">
            <i class="pointer fa fa-info-circled page-title-info"></i>
          </a>
        </h1>
        <a *ngIf="moreUrl" routerLink="{{'/' + moreUrl}}" class="inline more-link">
          <h6 class="more-link-title inline">{{'detail-page.page-title-more' | translate}} <span
            class="general-highlight">{{moreLabel || moreLabelCode | translate}}</span> {{'detail-page.page-title-cams' | translate}}
          </h6>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <p
          id="detailDescription"
          translate [translateParams]="{value: state.username}"
          class="collapse page-sub-title detail-description"
          [ngClass]="[screen.isHiddenSmDown() ? 'in' : '']">detail-page.sub-title</p>
      </td>
    </tr>
  </table>
</div>
