<p>Sometimes it's hard to browse thousands of free live sex cams. Especially if you
  don't know what you're looking
  for. We hope to solve this problem to search your favourite cams by country. You are
  looking for a cam girl in your
  region? Just look up your country and we hope you can find what you desire.</p>

<p>Try out the <a href="https://{{domain}}/world-map-of-sex-cams">world map of sex cams</a> here</p>

<h3 class="blog-title">See how many cams are online now</h3>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/cams_online.jpg" target="_blank">
    <img width="500" src="{{currentAssetsFolder}}/cams_online.jpg"
         title="see how many cams are online">
  </a>
  <figcaption>Countries which have currently no cams available will be coloured white.
    The darker the colour of the
    country is, the
    more cam models are online there. Hover over the country to see how many cam
    models are online.
  </figcaption>
</figure>

<h3 class="blog-title">Zoom In</h3>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/zoom_in.jpg" target="_blank">
    <img width="500" src="{{currentAssetsFolder}}/zoom_in.jpg"
         title="zoom in to find your desired country">
  </a>
  <figcaption>If the country you want is too small, you can zoom in the world map. Use
    the buttons on the left top
    corner
    or your mouse wheel. On mobile phones or tablets you can zoom in on the
    touchscreen like in Google Maps.
  </figcaption>
</figure>

<h3 class="blog-title">Filter by Search</h3>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/filter.jpg" target="_blank">
    <img width="800" src="{{currentAssetsFolder}}/filter.jpg"
         title="search your country by using the filter box">
  </a>
  <figcaption>You don't need the map to select your country and the list is too big?
    Just go to the search box below the
    world map and type in your desired country and it will show up in the world map
    and in the country list immediately.
  </figcaption>
</figure>

<h3 class="blog-title">Navigate to all the cams of your selected country</h3>

<figure class="aligncenter">
  <a href="{{currentAssetsFolder}}/navigate.jpg" target="_blank">
    <img width="300" src="{{currentAssetsFolder}}/navigate.jpg"
         title="search your country by using the filter box">
  </a>
  <figcaption>Click on a country within the map or in the country list below. It will
    navigate to the cams page and will
    show you all cam models online.
  </figcaption>
</figure>
