<div class="container">


  <h1>{{'sitemap-page.title' | translate}}</h1>

  <h2 class="general-highlight">{{'sitemap-page.lemoncams' | translate}}</h2>

  <div class="sitemap-block">

    <!-- lemoncams -->
    <ul class="list-bottom">
      <li><a routerLink="/">{{'sitemap-page.homepage' | translate}}</a></li>
      <li><a routerLink="/cams">{{'sitemap-page.all-cams' | translate}}</a></li>
      <li><a routerLink="/world-map-of-sex-cams">{{'header.world-map-of-sex-cams' | translate}}</a></li>
      <li><a routerLink="/roulette">{{'header.roulette' | translate}}</a></li>
      <li><a routerLink="/blog/how-to-become-a-webcam-model">{{'header.become-model' | translate}}</a></li>
      <li><a routerLink="/about">{{'header.about' | translate}}</a></li>
      <li><a routerLink="/sitemap">{{'sitemap-page.title' | translate}}</a></li>
    </ul>

    <ul class="list-bottom">
      <li><a routerLink="/categories">{{'header.categories' | translate}}</a></li>
      <li><a routerLink="/categories/female">{{'header.categories' | translate}} {{'gender-filter.female' | translate}}</a></li>
      <li><a routerLink="/categories/couple">{{'header.categories' | translate}} {{'gender-filter.couple' | translate}}</a></li>
      <li><a routerLink="/categories/shemale">{{'header.categories' | translate}} {{'gender-filter.shemale' | translate}}</a></li>
      <li><a routerLink="/categories/male">{{'header.categories' | translate}} {{'gender-filter.male' | translate}}</a></li>
    </ul>

  </div>

  <div class="spacer"></div>

  <h2 class="general-highlight">{{'header.categories' | translate}}</h2>

  <div class="sitemap-block">

    <!-- Gender -->
    <h5 class="general-highlight">{{'gender-filter.title' | translate}}</h5>
    <ul class="list-bottom">
      <li><a routerLink="/female">{{'gender-filter.female' | translate}}</a></li>
      <li><a routerLink="/male">{{'gender-filter.male' | translate}}</a></li>
      <li><a routerLink="/couple">{{'gender-filter.couple' | translate}}</a></li>
      <li><a routerLink="/shemale">{{'gender-filter.shemale' | translate}}</a></li>
    </ul>

    <!-- Age -->
    <h5 class="general-highlight">{{'age-filter.title' | translate}}</h5>
    <ul class="list-bottom">
      <li><a routerLink="/eighteen">18</a></li>
      <li><a routerLink="/undertwenty">18-19</a></li>
      <li><a routerLink="/twenties">20-30</a></li>
      <li><a routerLink="/thirties">31-40</a></li>
      <li><a routerLink="/overforty">40+</a></li>
    </ul>

    <!-- Language -->
    <h5 class="general-highlight">{{'language-filter.title' | translate}}</h5>
    <ul class="list-bottom">
      <li><a routerLink="/english">{{'language-filter.english' | translate}}</a></li>
      <li><a routerLink="/spanish">{{'language-filter.spanish' | translate}}</a></li>
      <li><a routerLink="/russian">{{'language-filter.russian' | translate}}</a></li>
      <li><a routerLink="/german">{{'language-filter.german' | translate}}</a></li>
      <li><a routerLink="/french">{{'language-filter.french' | translate}}</a></li>
      <li><a routerLink="/italian">{{'language-filter.italian' | translate}}</a></li>
    </ul>

    <!-- Haircolor -->
    <h5 class="general-highlight">{{'hair-filter.title' | translate}}</h5>
    <ul class="list-bottom">
      <li><a routerLink="/blonde">{{'hair-filter.blonde' | translate}}</a></li>
      <li><a routerLink="/brunette">{{'hair-filter.brunette' | translate}}</a></li>
      <li><a routerLink="/redhead">{{'hair-filter.redhead' | translate}}</a></li>
    </ul>

    <!-- Body -->
    <h5 class="general-highlight">{{'body-filter.title' | translate}}</h5>
    <ul class="list-bottom">
      <li><a routerLink="/slim">{{'body-filter.slim' | translate}}</a></li>
      <li><a routerLink="/petite">{{'body-filter.petite' | translate}}</a></li>
      <li><a routerLink="/curvy">{{'body-filter.fat' | translate}}</a></li>
    </ul>

    <!-- Attributes -->
    <h5 class="general-highlight">{{'attribute-filter.title' | translate}}</h5>
    <ul class="list-bottom">
      <li><a routerLink="/new">{{'attribute-filter.isnew' | translate}}</a></li>
      <li><a routerLink="/hd">{{'attribute-filter.ishd' | translate}}</a></li>
    </ul>

    <!-- Categories -->
    <h5 class="general-highlight">{{'header.categories' | translate}}</h5>
    <ul class="list-bottom">
      <li><a routerLink="/asian">{{'categories.asian' | translate}}</a></li>
      <li><a routerLink="/bdsm">{{'categories.bdsm' | translate}}</a></li>
      <li><a routerLink="/bigdick">{{'categories.bigdick' | translate}}</a></li>
      <li><a routerLink="/bigtits">{{'categories.bigtits' | translate}}</a></li>
      <li><a routerLink="/ebony">{{'categories.ebony' | translate}}</a></li>
      <li><a routerLink="/hairy">{{'categories.hairy' | translate}}</a></li>
      <li><a routerLink="/latina">{{'categories.latina' | translate}}</a></li>
      <li><a routerLink="/mature">{{'categories.mature' | translate}}</a></li>
      <li><a routerLink="/milf">{{'categories.milf' | translate}}</a></li>
      <li><a routerLink="/smalltits">{{'categories.smalltits' | translate}}</a></li>
      <li><a routerLink="/tattoo">{{'categories.tattoo' | translate}}</a></li>
      <li><a routerLink="/teen">{{'categories.teen' | translate}}</a></li>
    </ul>

    <!-- Categories -->
    <h5 class="general-highlight">{{'header.tags' | translate}}</h5>
    <ul>
      <li *ngFor="let tag of tags">
        <a routerLink="{{'/' + tag}}">{{tag}}</a>
      </li>
    </ul>

    <!-- Cam Sites -->
    <h5 class="general-highlight">{{'site-filter.title' | translate}}</h5>
    <ul class="list-bottom">
      <li><a routerLink="/chaturbate-cams">{{'provider.chaturbate' | translate}}</a></li>
      <li><a routerLink="/bongacams-cams">{{'provider.bongacams' | translate}}</a></li>
      <li><a routerLink="/livejasmin-cams">{{'provider.awempire' | translate}}</a></li>
      <li><a routerLink="/camsoda-cams">{{'provider.camsoda' | translate}}</a></li>
      <li><a routerLink="/stripchat-cams">{{'provider.stripchat' | translate}}</a></li>
    </ul>

  </div>

  <h2 class="general-highlight">{{'header.countries' | translate}}</h2>

  <div class="sitemap-block">

    <!-- countries -->
    <ul>
      <li *ngFor="let country of countryS.allCountries"><a
        routerLink="{{'/' + country.link}}">{{country.name.slice(0, 18)}}</a>
      </li>
    </ul>

  </div>

</div>


