<div class="main-news-banner main-news-banner--bg">
  <a *ngIf="!this.constant.isSubSite()" routerLink="/blog/how-to-become-a-webcam-model">
    <div class="main-news-banner__inner map-title">
      <div class="posts posts--simple-list posts--simple-list--xlg">
        <div class="posts__item posts__item--category-1">
          <div class="posts__inner">
            <h6 class="posts__title">
              {{'blog-widget.make' | translate}} <span class="general-error">10'000$</span> <br>
              <span class="text-primary">{{'blog-widget.monthly' | translate}}</span> <br>
              {{'blog-widget.with' | translate}} <br>
              <span class="text-primary">{{'blog-widget.modelling' | translate}}</span>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a *ngIf="this.constant.isSubSite()" href="https://www.lemoncams.com/blog/how-to-become-a-webcam-model" target="_blank">
    <div class="main-news-banner__inner map-title">
      <div class="posts posts--simple-list posts--simple-list--xlg">
        <div class="posts__item posts__item--category-1">
          <div class="posts__inner">
            <h6 class="posts__title">
              {{'blog-widget.make' | translate}} <span class="general-error">10'000$</span> <br>
              <span class="text-primary">{{'blog-widget.monthly' | translate}}</span> <br>
              {{'blog-widget.with' | translate}} <br>
              <span class="text-primary">{{'blog-widget.modelling' | translate}}</span>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
