.main-news-banner--bg {
  background-image: none;
}

@media (min-width: 992px) {
  .main-news-banner--bg .main-news-banner__inner {
    padding: 30px;
  }
}

@media (max-width: 991px) {
  .main-news-banner--bg .main-news-banner__inner {
    padding: 10px;
  }
}

.map-title {
  filter: drop-shadow(15px 15px 5px #000000);
}

@media (min-width: 992px) {
  .posts--simple-list--xlg .posts__title {
    font-size: 22px;
  }
}
