.tag-cloud-gender {
  background-color: #43609c;
}

.tag-cloud-age {
  background-color: #00a305;
}

.tag-cloud-language {
  background-color: #9d54aa;
}

.tag-cloud-haircolor {
  background-color: #ed2546;
}

.tag-cloud-body {
  background-color: #ff7e1f;
}

.tag-cloud-attribute {
  background-color: #38c2e5;
}

.tag-cloud-btn:hover {
  background-color: #ffdc11;
}
