<aside class="widget widget--sidebar card widget-tagcloud">
  <div class="widget__content card__content card__content-simple-list-3">
    <div class="tagcloud">
      <a routerLink="/cams" class="btn btn-primary btn-xs btn-sm tag-cloud-btn truncate tag-cloud-haircolor">{{'categories.all-cams'
        | translate}}</a>
      <a *ngIf="!this.constant.isSubSite()" routerLink="/world-map-of-sex-cams" class="btn btn-primary btn-xs btn-sm tag-cloud-btn truncate tag-cloud-haircolor">{{'header.world-map'
        | translate}}</a>
      <a *ngIf="this.constant.isSubSite()" href="https://www.lemoncams.com/world-map-of-sex-cams" target="_blank" class="btn btn-primary btn-xs btn-sm tag-cloud-btn truncate tag-cloud-haircolor">{{'header.world-map'
        | translate}}</a>
      <a routerLink="/categories" class="btn btn-primary btn-xs btn-sm tag-cloud-btn truncate tag-cloud-haircolor">{{'header.categories'
        | translate}}</a>
      <a routerLink="/roulette" class="btn btn-primary btn-xs btn-sm tag-cloud-btn truncate tag-cloud-haircolor">{{'header.roulette'
        | translate}}</a>
      <a *ngFor="let category of categoryS.tagCloud" routerLink="{{'/' + category.path}}"
         class="btn btn-primary btn-xs btn-sm tag-cloud-btn truncate" ngClass="{{'tag-cloud-' + category.group}}">
        {{'categories.' + CategoryCode()[category.code] | translate}}
      </a>
    </div>
  </div>
</aside><!-- TAG CLOUD -->
