.header-logo {
  bottom: -15px !important;
  width: 500px !important;
}

.general-highlight {
  color: #00e4ff !important;
}

.pagination > .active > a {
  background-color: #00e4ff !important;
  border-color: #00e4ff !important;
}

#jprePercentage::after {
  content: "SEXCAM2CAMSEX.COM" !important;
}

.tag-cloud-btn:hover {
  background-color: #00e4ff !important;
}

#jprePercentage {
  color: #00e4ff !important;
}

.header-logo__img {
  -webkit-filter: drop-shadow(3px 3px 2px #fff) contrast(120%) !important;
  filter: drop-shadow(10px 10px 2px #000) !important
}

.header-mobile__logo-img {
  -webkit-filter: drop-shadow(2px 2px 1px #fff) contrast(120%) !important;
  filter: drop-shadow(10px 10px 2px #000) !important
}
