.main-news-banner--bg {
  background-image: url("../../../../assets/images_hector/roulette_thumb.jpg");
}

@media (min-width: 992px) {
  .main-news-banner--bg .main-news-banner__inner {
    padding: 30px;
  }
}

@media (max-width: 991px) {
  .main-news-banner--bg .main-news-banner__inner {
    padding: 10px;
  }
}

.map-title {
  filter: drop-shadow(15px 15px 5px #000000);
}
