<div class="main-news-banner main-news-banner--bg">
  <a routerLink="/roulette">
    <div class="main-news-banner__inner map-title">
      <div class="posts posts--simple-list posts--simple-list--xlg">
        <div class="posts__item posts__item--category-1">
          <div class="posts__inner">
            <h6 class="posts__title">
              {{'roulette-widget.sex-cam' | translate}} <br>
              <span class="text-primary">{{'roulette-widget.roulette' | translate}}</span> <br>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
