@media (min-width: 992px) {
  .page-heading {
    padding: 50px 0px 90px 0;
  }
}

@media (max-width: 991px) {
  .page-heading {
    padding: 20px 0 20px 0;
  }
}

@media (min-width: 544px) {
  .page-heading::before {
    background-size: cover;
    background-image: url("/assets/content/background.jpg");
    opacity: 0.2;
  }
}

@media (max-width: 543px) {
  .page-heading::before {
    background-size: cover;
    background-image: url("/assets/content/background_mobile.jpg");
    opacity: 0.2;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 70%;
  }
}

.page-heading {
 text-align: left;
  padding-left: 50px;
}
