<div class="page-heading page-heading--overlay page-heading--post-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 offset-md-2">
        <div class="post__meta-block post__meta-block--top">
          <h1 class="page-heading__title">{{title}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="site-content">
  <div class="container">
    <div class="row">
      <div class="content col-md-12 offset-md-2">
        <article class="card card--lg post post--single post--extra-top">
          <div class="card__content">
            <div [innerHTML]="externalDoc" class="post__content">
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
