<article *ngIf="entry" class="card card--lg post post--single">

  <!-- Post Meta - Side -->
  <div class="post__meta-block post__meta-block--side">
    <!-- Post Author -->
    <div class="post-author">
      <figure class="post-author__avatar">
        <img src="assets/images_hector/logo/lemoncams/user_logo.png" alt="Post Author Avatar">
      </figure>
      <div class="post-author__info">
        <h4 class="post-author__name">Lemoncams</h4>
        <span class="post-author__slogan">Erotic Web Cam Shows</span>
      </div>
    </div>
    <!-- Post Author / End -->

    <ul class="social-links social-links--btn">
      <li id="facebookLink" class="social-links__item">
        <a class="social-links__link social-links__link--fb"
           rel="nofollow" target="_blank"
           [href]="'https://www.facebook.com/sharer/sharer.php?u=' + currentUrl">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="social-links__item"><a
        class="social-links__link social-links__link--twitter"
        rel="nofollow" target="_blank"
        [href]="'https://twitter.com/share?url=' + currentUrl"><i
        class="fa fa-twitter"></i></a></li>
      <li class="social-links__item"><a
        class="social-links__link social-links__link--whatsapp"
        rel="nofollow" target="_blank"
        [href]="'https://wa.me/?text=' + currentUrl"><i
        class="fa fa-whatsapp"></i></a></li>
      <li class="social-links__item"><a
        class="social-links__link social-links__link--reddit"
        rel="nofollow" target="_blank"
        [href]="'https://www.reddit.com/submit?url=' + currentUrl"><i
        class="fa fa-reddit"></i></a></li>
      <li class="social-links__item"><a
        class="social-links__link social-links__link--tumblr"
        rel="nofollow" target="_blank"
        [href]="'http://www.tumblr.com/share/link?url=' + currentUrl"><i
        class="fa fa-tumblr"></i></a></li>
    </ul>

  </div>
  <!-- Post Meta - Side / End -->

  <div class="card__content">

    <div class="post__category">
      <span class="label posts__cat-label">{{entry.category}}</span>
    </div>
    <header class="post__header">
      <h2 class="post__title">{{entry.title}}</h2>
      <ul class="post__meta meta">
        <li class="meta__item meta__item--date">
          <time [dateTime]="entry.date">{{entry.date}}</time>
        </li>
      </ul>
    </header>

    <div [innerHTML]="externalDoc" class="post__content">

    </div>

  </div>
</article>
