<div class="container">
  <div *ngIf="home" class="row">

    <div class="col-md-12">
      <h1 class="page-title">{{"home.title" | translate}}
        <a data-toggle="collapse" data-target="#homeDescription">
          <i class="pointer fa fa-info-circled page-title-info"></i>
        </a>
      </h1>
      <p
        id="homeDescription"
        class="collapse page-sub-title"
        [ngClass]="[screen.isHiddenSmDown() ? 'in' : '']"
        [innerHTML]='"home.sub-title" | translate:{subdomain: this.constant.getSubDomain()}'></p>
    </div>

    <!-- LEFT COLUMN -->
    <div class="col-xxs-8 col-xs-9 col-sm-8 col-md-8 col-lg-9">

      <!-- top cam cam card -->
      <div class="card card--clean">

        <header class="card__header card__header--has-btn">
          <h4 class="">{{"home.most-viewed" | translate}}</h4>
          <a routerLink="/cams" class="btn btn-default btn-outline btn-xs card-header__button add-info-title inline"
             title="{{'meta-home.description' | translate}}">
            <span *ngIf="screen.isHiddenMdDown()">{{"home.see-all" | translate}} </span>
            <span class="general-highlight">{{size}} </span>
            <span>{{"home.models-online" | translate}}</span>
          </a>

        </header>

        <!-- cam grid -->
        <div class="card__content"><!-- Posts List -->
          <!-- posts -->
          <div class="posts posts--cards post-grid row">

            <!-- post grid item ngfor -->
            <div *ngFor="let topCam of topCams;let i = index"
                 class="post-grid__item col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4">

              <app-webcam-thumb *ngIf="topCam.imageUrl" [cam]="topCam" [rank]="(i+1)"></app-webcam-thumb>

            </div><!-- post grid item ngfor -->


          </div> <!-- posts -->

        </div>

      </div> <!-- most viewed card -->

      <!-- top cams countries card -->
      <div class="card card--clean">
        <header class="card__header card__header--has-btn">
          <h4>{{"home.most-viewed-country" | translate}}</h4>
          <a routerLink="/world-map-of-sex-cams" class="btn btn-default btn-outline btn-xs card-header__button add-info-title inline"
             title="{{'meta-countries.description' | translate}}">
            <span *ngIf="screen.isHiddenMdDown()">{{"home.check-all" | translate}} </span>
            <span class="general-highlight">{{countrySize}} </span>
            <span>{{"home.available-countries" | translate}}</span>
          </a>
        </header>

        <div class="card__content">
          <div class="posts posts--cards post-grid row">
            <div *ngFor="let cam of home.topCamsCountry; let i = index">
              <app-webcam-thumb class="post-grid__item col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-3"
                                [cam]="cam"
                                *ngIf="cam.imageUrl">
              </app-webcam-thumb>

            </div>
          </div>
        </div>

      </div><!-- top cams countries card -->

    </div>

    <!-- RIGHT COLUMN -->
    <div class="col-xxs-4 col-xs-3 col-sm-4 col-md-4 col-lg-3">

      <app-tag-cloud></app-tag-cloud>

      <app-country-thumb></app-country-thumb>

      <app-category-thumb></app-category-thumb>

      <app-roulette-thumb></app-roulette-thumb>

      <!-- PROVIDERS -->
      <aside class="widget widget--sidebar card widget-tagcloud">
        <div class="widget__title card__header"><h4>{{"header.sites" | translate}}</h4></div>
        <div class="widget__content card__content card__content-simple-list-3 row">
            <a *ngFor="let category of categoryS.providers" class="col-md-6 col-sm-12 provider-box"  [routerLink]="'/' + category.path">
              <img [src]="'/assets/images_hector/provider_logos/' + categoryCode[category.code] + '_thumb.png'">
            </a>
        </div>
      </aside><!-- PROVIDERS -->

      <!-- Top Asian Cams -->
      <aside class="widget widget--sidebar card widget-popular-posts">
        <a routerLink="/asian">
          <div class="widget__title card__header"><h4>{{"home.top-asian" | translate}}</h4></div>
        </a>
        <div class="widget__content card__content card__content-simple-list">
          <ul class="posts posts--simple-list">
            <div *ngFor="let asianCam of home.topAsianCams" class="posts__item posts__item--category-2">
              <app-webcam-thumb *ngIf="asianCam.imageUrl" [cam]="asianCam" [isTopList]="true"></app-webcam-thumb>
            </div>
          </ul>
        </div>
      </aside><!-- Top Asian Cams -->

      <app-model-thumb></app-model-thumb>

      <!-- Top Latin Cams -->
      <aside class="widget widget--sidebar card widget-popular-posts">
        <a routerLink="/latina">
          <div class="widget__title card__header"><h4>{{"home.top-latin" | translate}}</h4></div>
        </a>
        <div class="widget__content card__content card__content-simple-list">
          <ul class="posts posts--simple-list">
            <div *ngFor="let latinCam of home.topLatinCams" class="posts__item posts__item--category-2">
              <app-webcam-thumb *ngIf="latinCam.imageUrl" [cam]="latinCam" [isTopList]="true"></app-webcam-thumb>
            </div>
          </ul>
        </div>
      </aside><!-- Top Asian Cams -->

      <!-- Random Countries -->
      <aside class="widget widget--sidebar card widget-tagcloud">
        <a routerLink="/world-map-of-sex-cams">
          <div class="widget__title card__header"><h4>{{"home.random-countries" | translate}}</h4></div>
        </a>
        <div class="widget__content card__content card__content-simple-list-2">
          <div class="tagcloud">
            <a *ngFor="let country of randomCountries"
               routerLink="{{'/' + country.link}}"
               class="btn btn-primary btn-xs btn-sm tag-cloud-btn tag-cloud-btn-country truncate">
              <figure class="post-author__avatar country_list_flag">
                <img src="{{countryS.getFlagUrlWithCode(country.code)}}"
                     (error)="$event.target.src=countryS.defaultUserLogo">
              </figure>
              {{country.name.slice(0,12) + ((!screen.isHiddenMdUp()) ? ' (' + country.size +')' : "")}}
            </a>
            <a routerLink="{{'/world-map-of-sex-cams'}}"
               class="btn btn-primary btn-xs btn-sm tag-cloud-btn tag-cloud-btn-country truncate">
              {{"country-widget.all" | translate}}
            </a>
          </div>
        </div>
      </aside><!-- Random Countries -->

    </div>

  </div>
</div>
