@media only screen and (min-width: 992px) {
  .add-info-title {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .add-info-title {
    font-size: 10px;
  }
}

.add-info-title {
  border-color: transparent;
  padding: 0;
  float: right;
}

.add-info-title:hover {
  background-color: transparent;
  border-color: transparent;
}

.provider-box {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

