.category-page-title {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .webcam-categories {
    padding-top: 10px;
  }
}

.all-tags-padding {
  padding-top: 30px;
}

.filtered-tags-padding {
  padding-top: 30px
}

.grid-container {
  display: grid;
  grid-auto-flow: column;
  padding-left: 2px;
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}

@media (max-width: 1199px) {
  .grid-container {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media (max-width: 991px) {
  .grid-container {
    grid-template-columns: 33% 33% 33%;
  }
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: 50% 50%;
  }
}

.category-search-form{
  position: relative;
}

.btn-category {
  margin: 2px 2px;
}

a {
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: bold;
}

a:hover {
  color: #ffdc11;
}

.tag-list {
  list-style-type: none;
  margin-bottom: 0;
  padding-inline-start: 0;
}

.tag-list-li {
  word-break: break-all;
}

.tag-list-span {
  font-weight: normal;
  font-size: 12px;
  color: #9A9DA2;
  padding-left: 10px;
}

.tag-list-block{
  padding-bottom: 25px;
}

.category-country-img {
  border-radius: 6px;
  margin-left: 4px;
  width: 14px;
  height: 14px;
  display: inline;
}
