<div class="container">

  <h1 class="page-title category-page-title">{{'category-page.title' | translate}}</h1>

  <div class="row">


    <!-- categories filter -->
    <div class="col-xs-12 col-sm-4 col-md-3">
      <form action="#" class="search-form category-search-form">
        <input type="text"
               (keyup)="keyUpInput($event)"
               class="form-control header-mobile__search-control"
               placeholder="{{'category-page.search' | translate}}">
        <button type="submit" [disabled]="true" class="header-mobile__search-submit">
          <i class="fa fa-search"></i>
        </button>
      </form>

    </div><!-- categories filter -->

    <div class="col-xs-12 col-sm-8 col-md-7 webcam-categories">
      <div *ngIf="this.currentTags && this.tagKeys" class="btn-group-sm">
        <button (click)="keyUp(null, false)" class="btn btn-default btn-sm btn-category dark-grey" tabindex="0"
                type="button">{{'category-page.all' | translate}}</button>
        <button (click)="keyUp(key, true)" *ngFor="let key of tagKeys"
                class="btn btn-default btn-xs dark-grey btn-category"
                tabindex="0"
                type="button">{{key}}</button>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-2 webcam-categories">
      <div class="dropdown">
        <button class="btn btn-default btn-sm btn-category dark-grey dropdown-toggle" type="button" id="dropdown-categories"
                data-toggle="dropdown">
          {{filterTranslationKey | translate}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdown-categories">
          <li><a [routerLink]="'/categories'">{{'category-page.all' | translate}}</a></li>
          <li><a [routerLink]="'/categories/female'">{{'categories.female' | translate}}</a></li>
          <li><a [routerLink]="'/categories/couple'">{{'categories.couple' | translate}}</a></li>
          <li><a [routerLink]="'/categories/shemale'">{{'categories.shemale' | translate}}</a></li>
          <li><a [routerLink]="'/categories/male'">{{'categories.male' | translate}}</a></li>
        </ul>
      </div>
    </div>

  </div>


  <!-- all tags -->
  <div class="all-tags-padding" [class]="currentTags.size > 1 ? 'all-tags-padding' : 'filtered-tags-padding'">
    <div *ngFor="let key of currentTags.keys()" class="tag-list-block">

      <!-- title -->
      <h2 *ngIf="key != filteredKey" class="general-highlight">{{key}}</h2>
      <!-- key list -->
      <div class="grid-container"
           [ngStyle]="{'grid-template-rows': 'repeat(' + getNrOfRows(currentTags.get(key).length) + ', auto)'}">
        <ul *ngFor="let tag of currentTags.get(key)" class="tag-list">
          <a [routerLink]="filter ? '/' + filter + '/' + tag.link : '/' + tag.link">
            <li class="tag-list-li">
              {{tag.name}}
              <img *ngIf="isCountry(tag)"
                   class="category-country-img"
                   src="{{country.getFlagUrlWithCode(tag.code)}}"
                   (error)="$event.target.src=country.defaultUserLogo">
              <span class="tag-list-span">{{tag.size }}</span>
            </li>
          </a>
        </ul>
      </div>

    </div>
  </div><!-- all tags -->


</div>


