/** OVERRIDINGS **/

@media (min-width: 1200px) {
  .container {
    width: 88%;
  }
}

@media (max-width: 479px) {
  .posts__item--card .post-author__avatar {
    display: inline-block;
  }
}

@media (max-width: 991px) {
  .site-content {
    padding: 20px 0;
    min-height: 70vh;
  }
}

@media (min-width: 992px) {
  .site-content {
    padding: 45px 0;
    min-height: 85vh;
  }
}

/* make the tablet version bigger */
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 97%;
  }
}

/** *************************************** **/
/** PATCH which I discussed with DAN Fisher **/
/** *************************************** **/
@media only screen and (max-width: 991px) {
  .main-nav {
    top: 0;
    bottom: auto;
    height: 100vh;
  }
}

.site-wrapper--has-overlay {
  bottom: auto;
  height: 100vh;
}

/** ADDITIONAL CLASSES **/

.dark-grey {
  background-color: #292C31;
}

.card {
  border: 0;
}

#jprePercentage::after {
  content: "LEMONCAMS.COM";
}

.inline {
  display: inline !important;
}

.width-100 {
  width: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.centered {
  margin: 0 auto;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.custom-meta-item {
  vertical-align: middle;
  margin-right: 6px;
  font-size: 12px;
}

.pointer {
  cursor: pointer;
}

.country_list_flag {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

@media (max-width: 991px) {
  .padding-side-mobile {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (min-width: 992px) {
  .site-content {
    padding-top: 35px;
  }
}

.general-highlight {
  color: #ffdc11;
}

.general-error {
  color: #f34141;
}

.card__header {
  padding-top: 12px;
  padding-bottom: 12px;
}

.btn-break {
  white-space: normal;
}

.social-links__link--reddit {
  background-color: #FF5700;
}

.social-links__link--whatsapp {
  background-color: #25D366;
}

.social-links__link--tumblr {
  background-color: #34526f;;
}

/** TAG CLOUD **/

.tag-cloud-btn-country {
  padding-left: 5px;
  margin-bottom: 0;
  background-color: transparent;
  max-width: 100%;
  text-overflow: clip !important;
}

@media only screen and (max-width: 767px) {
  .tag-cloud-btn {
    width: 100px;
    padding-left: 1px;
    padding-right: 1px;
  }

  .tag-cloud-btn-country {
    text-align: left !important;
  }
}

/** SIMPLE LISTS **/
@media only screen and (max-width: 767px) {
  .card .posts--simple-list .posts__item {
    padding: 10px;
    margin-bottom: 0;
  }

  .card__content-simple-list {
    padding-top: 0;
    padding-bottom: 0;
  }

  .card__content-simple-list-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .card__content-simple-list-3 {
    padding: 10px;
  }

}

/** Title Classes **/
.page-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.page-title-info {
  margin-left: 10px;
}

@media only screen and (min-width: 992px) {
  .page-title-info {
    display: none;
  }
}

.page-sub-title {
  font-size: 14px;
  line-height: 1.4;
}

/** PAGE TITLE **/

.card-margin-bottom {
  margin-bottom: 10px !important;
}

/** Make a new bootstrap class for mobile portrait **/
@media only screen and (max-width: 543px) {
  .col-xxs-12 {
    width: 100%;
  }

  .col-xxs-11 {
    width: 91.66666667%;
  }

  .col-xxs-10 {
    width: 83.33333333%;
  }

  .col-xxs-9 {
    width: 75%;
  }

  .col-xxs-8 {
    width: 66.66666667%;
  }

  .col-xxs-7 {
    width: 58.33333333%;
  }

  .col-xxs-6 {
    width: 50%;
  }

  .col-xxs-5 {
    width: 41.66666667%;
  }

  .col-xxs-4 {
    width: 33.33333333%;
  }

  .col-xxs-3 {
    width: 25%;
  }

  .col-xxs-2 {
    width: 16.66666667%;
  }

  .col-xxs-1 {
    width: 8.33333333%;
  }
}

/* Bootstrap Class for 5 columns */
@media (min-width: 768px) {
  .col-md-2_4 {
    width: 20%;
  }
}

/* Override simple-line-icons with fontello Icons */

ul.list li::before {
  content: "\e804";
  font-family: "fontello";
}

.meta__item::before {
  font-family: fontello;
}

.meta__item--views::before {
  content: "\f2be";
}

.header-mobile__search-icon::before {
  content: "\e802";
  font-family: "fontello";
}

/** blog **/
h2.blog-title {
  margin-top: 70px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffdc11;
}

h3.blog-title {
  margin-top: 70px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ffdc11;
}

.blog-subtitle {
  margin-bottom: 0;
}
