.main-nav__ul li a {
  font-size: 12px;
  color: #9a9da2;
  transition: color .3s ease;
  padding: 10px 0;
}

@media (min-width: 992px) {
  .header-search-form {
    margin: auto;
    display: table;
  }
}

.header-search-form {
  padding-top: 0;
}

.country_search_bar {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
}

.country_search_button {
  margin-right: 25px;
  margin-top: 12px
}

.country_list_flag {
  height: 30px;
  width: 30px;
}

.main-nav__ul li a:hover {
  color: #31404b;
}

.hector-map {
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .hector-map {
    width: 80%; /* desired width */
    height: 450px; /* desired width */
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hector-map {
    width: 80%; /* desired width */
    height: 400px; /* desired width */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hector-map {
    width: 80%; /* desired width */
    height: 400px; /* desired width */
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .hector-map {
    width: 90%; /* desired width */
    height: 200px; /* desired width */
  }
}

@media (max-width: 543px) {
  .hector-map {
    width: 100%; /* desired width */
    height: 200px; /* desired width */
  }
}
