<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="page-title">{{"country-page.title" | translate}}
        <a data-toggle="collapse" data-target="#countryDescription">
          <i class="pointer fa fa-info-circled page-title-info"></i>
        </a>
      </h1>
      <p id="countryDescription" class="collapse page-sub-title" [ngClass]="[screen.isHiddenSmDown() ? 'in' : '']">
        {{"country-page.sub-title" | translate}}</p>
    </div>
  </div>

  <!-- World Map -->

  <div id="world-map" class="hector-map"></div>


  <!-- country filter -->
  <div class="row">

    <div *ngIf="screen.isHiddenMdDown()" class="spacer"></div>

    <div *ngIf="screen.isHiddenMdDown()" class="header-search-form">
      <form action="#" class="search-form">
        <input type="text"
               (keyup)="onKey($event)"
               class="form-control header-mobile__search-control"
               placeholder="{{'country-page.search' | translate}}">
        <button type="submit" [disabled]="true" class="header-mobile__search-submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div><!-- country filter -->

    <div *ngIf="screen.isHiddenLgUp()" class="header-mobile clearfix header-mobile--expanded" id="header-mobile">
      <div class="country_search_bar">
        <form action="#" class="search-form">
          <input type="text"
                 class="form-control header-mobile__search-control"
                 (keyup)="onKey($event)"
                 placeholder="{{'country-page.search' | translate}}">
          <button type="submit" [disabled]="true" class="header-mobile__search-submit country_search_button">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div><!-- country filter -->
    </div>

  </div>

  <div *ngIf="countryS.continentsMap">
    <div *ngFor="let key of countryS.getContinentCodes()" class="widget widget--sidebar card widget-tagcloud">
      <div *ngIf="countryS.continentsMap[key].length > 0" class="widget__title card__header"><h4>{{countryS.getContinentName(key)}}</h4></div>
      <div *ngIf="countryS.continentsMap[key].length > 0" class="widget__content card__content card__content-simple-list-2">
        <div class="tagcloud">
          <a *ngFor="let country of countryS.continentsMap[key]"
             routerLink="{{'/' + country.link}}"
             class="btn btn-primary btn-lg btn-sm tag-cloud-btn-country truncate">
            <figure class="post-author__avatar country_list_flag">
              <img src="{{countryS.getFlagUrlWithCode(country.code)}}"
                   (error)="$event.target.src=countryS.defaultUserLogo">
            </figure>
            {{country.name.slice(0, 30) + ' (' + country.size +')'}}
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
