<div class="container">


  <!-- isOffline -->
  <div *ngIf="isOffline" class="col-md-12">
    <h1 class="page-title">{{meta.title}}
      <a data-toggle="collapse" data-target="#offlineDescription">
        <i class="pointer fa fa-info-circled page-title-info"></i>
      </a>
    </h1>
    <p
      id="offlineDescription"
      class="collapse page-sub-title"
      [ngClass]="[screen.isHiddenSmDown() ? 'in' : '']">{{meta.description}}</p>
    <h4 class="general-error">{{"detail-page.not-loaded" | translate}}</h4>
  </div><!-- isOffline -->


  <!-- cam area -->
  <div *ngIf="cam">

    <app-detail-title [cam]="cam"
                      [countryUrl]="countryUrl"
                      [isRandom]="isRandom"
                      [hasPreviousButton]="hasPreviousButtonFunc"
                      [nextRandomCam]="nextRandomCamFunc"
                      [previousRandomCam]="previousRandomCamFunc">
    </app-detail-title>

    <!-- detail cam -->
    <div class="row">
      <div class="col-12">

          <iframe #camFrame
                  [class]="['cam-iframe cam-iframe-' + cam.provider]"
                  scrolling="no"
                  frameBorder="0"
                  allowfullscreen
                  [src]="embedUrl | safe">
          </iframe>

      </div>
    </div><!-- detail cam -->

    <div class="row margin-button-row">
      <div class="col-md-6 col-sm-12 text-center margin-button-col">
        <a rel="nofollow"
           (click)="openChatroom()"
           class="btn btn-warning pointer">{{'detail-page.open-chatroom' | translate}}</a>
      </div>

      <div class="col-md-6 col-sm-12 text-center margin-button-col">
        <a rel="nofollow"
           href="{{signupUrl}}" target="_blank"
           class="btn btn-danger">{{'detail-page.signup' | translate}}</a>
      </div>

    </div>

  </div><!-- cam area -->

  <div *ngIf="cam || isOffline" class="row">

    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
      <app-detail-model *ngIf="cam" [cam]="cam" [countryUrl]="countryUrl"
                        [countryName]="countryName"></app-detail-model>
      <app-detail-related [showTitle]="!!cam" [relatedCams]="relatedCams"></app-detail-related>
    </div>

    <div *ngIf="screen.isHiddenSmDown()" class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <app-country-thumb></app-country-thumb>
      <app-roulette-thumb></app-roulette-thumb>
      <app-tag-cloud></app-tag-cloud>
      <app-model-thumb></app-model-thumb>
    </div>


  </div>


</div>
