@media (min-width: 992px) {
  .margin-button-row {
    margin: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .margin-button-row {
    margin: 2px;
    padding-bottom: 0px;
  }
}

@media (max-width: 991px) {
  .margin-button-col {
    margin-bottom: 10px;
  }
}

.post-author__avatar {
  height: 60px !important;
  width: 60px !important;
  border-radius: 4px;
}

.cam-iframe {
  width: 100%;
  border: none;
}

@media (min-width: 1200px) {
  .cam-iframe-chaturbate {
    height: 700px;
  }
}

@media (min-width: 1200px) {
  .cam-iframe-bongacams {
    height: 700px;
  }
}

@media (min-width: 1200px) {
  .cam-iframe-camsoda {
    height: 900px;
  }
}

@media (min-width: 1200px) {
  .cam-iframe-stripchat {
    height: 900px;
  }
}

@media (max-width: 1199px) {
  .cam-iframe-chaturbate {
    height: 500px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .cam-iframe-chaturbate {
    height: 500px;
  }
}

@media (max-width: 767px) {
  .cam-iframe-chaturbate {
    height: 300px;
  }
}

@media (max-width: 1199px) {
  .cam-iframe-bongacams {
    height: 630px;
  }
}

@media (max-width: 1199px) {
  .cam-iframe-camsoda {
    height: 700px;
  }
}

@media (max-width: 1199px) {
  .cam-iframe-stripchat {
    height: 900px;
  }
}
