<div (click)="toggleMobileMenu()" class="site-overlay"></div>

<!-- Header Mobile -->
<div class="header-mobile clearfix" id="header-mobile">
  <div class="header-mobile__logo">
    <a routerLink="/">
      <img [src]="'../assets/images_hector/logo/' + constant.getProject() + '/header_mobile.png'"
           [alt]='this.constant.getWebsite() + " Logo"'
           class="header-mobile__logo-img">
    </a>
  </div>
  <div class="header-mobile__inner">
    <a (click)="toggleMobileMenu()" id="header-mobile__toggle" class="burger-menu-icon">
      <span class="burger-menu-icon__line"></span>
    </a>
    <span (click)="focusOnSearchInputAndToggle()" class="header-mobile__search-icon"
          id="header-mobile__search-icon"></span>
  </div>

  <!-- Search Form Mobile -->
  <div class="header-search-form">
    <form id="mobile-search-form" class="search-form">
      <input #searchInput
             type="text"
             class="form-control header-mobile__search-control"
             [(ngModel)]="state.searchTerm"
             [ngModelOptions]="{standalone: true}"
             (keyup)="this.autoComplete.onKeyUp($event)"
             (keyup.enter)="this.autoComplete.clearAutocomplete(true)"
             (keyup.escape)="this.autoComplete.clearAutocomplete(true)"
             (keyup.arrowDown)="this.autoComplete.onArrowDown()"
             (keyup.arrowUp)="this.autoComplete.onArrowUp()"
             (focusout)="this.autoComplete.clearAutocomplete()"
             maxlength="30"
             placeholder="{{'header.search-detail' | translate}}">
      <a rel="nofollow" (click)="closeKeyboard()" [routerLink]="['/' + this.autoComplete.getSearchOrResultPath()]">
        <button type="submit" class="header-mobile__search-submit">
          <i class="fa fa-search"></i>
        </button>
      </a>

    </form>
  </div><!-- search -->

</div>

<!-- Header Desktop -->
<header class="header">

  <!-- Header Top Bar -->
  <div class="header__top-bar clearfix">
    <div class="container">

      <!-- header top bar elemenets -->
      <ul class="nav-account">

        <li  class="nav-account__item">
          <a *ngIf="!this.constant.isSubSite()" routerLink="/blog/how-to-become-a-webcam-model">
            <span >{{'header.models-wanted' | translate}}</span>
          </a>
          <a *ngIf="this.constant.isSubSite()" href="https://www.lemoncams.com/blog/how-to-become-a-webcam-model" target="_blank">
            <span >{{'header.models-wanted' | translate}}</span>
          </a>
        </li>

        <li class="nav-account__item">
          <a routerLink="/about">
            <span>{{'header.about' | translate}}</span>
          </a>
        </li>

        <li *ngIf='this.constant.showCountries()' class="nav-account__item nav-world-map-top">
          <a routerLink="/world-map-of-sex-cams">
            <i class="fa fa-globe"></i>
            <span class="nav-top-text">{{'header.world-map' | translate}}</span>
          </a>
        </li>

        <li class="nav-account__item">
          <a routerLink="/blog">
            <span>{{'header.blog' | translate}}</span>
          </a>
        </li>

        <li *ngIf="!this.constant.isSubSite()" class="nav-account__item">
          <a [href]="constant.TWITTER_LINK" class="social-links__link"
             rel="noopener noreferrer"
             target="_blank"
             data-placement="bottom">
            <i class="fa fa-twitter"></i>
            <span class="nav-top-text">Twitter</span>
          </a>
        </li>

        <li *ngFor="let partner of partnerS.tops" class="nav-account__item">
          <a [href]="partner.link" target="_blank" rel="noopener noreferrer">
            <span>{{partner.text}}</span>
          </a>
        </li>

      </ul><!-- header top bar elemenets -->

    </div>
  </div>
  <!-- Header Top Bar / End -->

  <!-- Header Primary -->
  <div class="header__primary">
    <div class="container">
      <div class="header__primary-inner">

        <!-- Header Logo -->
        <div class="header-logo">
          <a routerLink="/">
            <img [src]="'../assets/images_hector/logo/' + constant.getProject() + '/header_desktop.png'"
                 class="header-logo__img"
                 [alt]='this.constant.getWebsite() + " Logo"'>
          </a>
        </div>
        <!-- Header Logo / End -->

        <!-- Main Navigation -->
        <nav class="main-nav clearfix">

          <!-- search desktop -->
          <div class="header-search-form">
            <form class="search-form">
              <input type="text"
                     class="form-control header-mobile__search-control"
                [(ngModel)]="state.searchTerm"
                [ngModelOptions]="{standalone: true}"
                (keyup)="this.autoComplete.onKeyUp($event)"
                (keyup.enter)="this.autoComplete.clearAutocomplete(true)"
                (keyup.escape)="this.autoComplete.clearAutocomplete(true)"
                (keyup.arrowDown)="this.autoComplete.onArrowDown()"
                (keyup.arrowUp)="this.autoComplete.onArrowUp()"
                (focusout)="this.autoComplete.clearAutocomplete()"
                     maxlength="30"
                placeholder="{{'header.search-detail' | translate}}">
              <a rel="nofollow"
                 [routerLink]="['/' + this.autoComplete.getSearchOrResultPath()]">
                <button class="header-mobile__search-submit">
                  <i class="fa fa-search"></i>
                </button>
              </a>

            </form>
          </div><!-- search -->

          <!-- side menu logo -->
          <span (click)="toggleMobileMenu()" class="main-nav__back"></span>
          <div class="header-mobile__logo">
            <img [src]="'../assets/images_hector/logo/' + constant.getProject() + '/header_mobile.png'"
                 [alt]='this.constant.getWebsite() + " Logo"'
                 class="header-mobile__logo-img">
          </div>

          <!-- main nav list -->
          <ul class="main-nav__list">

            <!-- Home -->
            <li>
              <a routerLink="/" (click)="closeNavMegaMenu()">{{'header.home'| translate}}</a>
            </li><!-- Home -->

            <!-- Cams (only mobile) -->
            <li *ngIf="this.screen.isHiddenLgUp()">
              <a routerLink="/cams" (click)="closeNavMegaMenu()">{{'categories.all-cams'| translate}}</a>
            </li>
            <!-- Cams -->


            <!-- Categories -->
            <li *ngIf="this.constant.showCategories()" id="catMenu" class="has-children">
              <span (click)="toggleMobileSubMenu('catMenu')" class="main-nav__toggle"></span>
              <a class="pointer"
                 (mouseenter)="toggleDesktopSubMenu('catMenu')"
                 (click)="toggleMobileSubMenu('catMenu')">{{'header.categories'| translate}}
              </a>
              <div class="main-nav__megamenu clearfix">

                <ul class="col-md-3 col-xs-12 main-nav__ul" *ngFor="let catArray of categoryS.categoriesMenu">
                  <li *ngFor="let category of catArray">
                    <a routerLink="{{'/' + category.path}}" (click)="closeNavMegaMenu('catMenu')">
                      {{'categories.' + CategoryCode()[category.code] | translate}}
                    </a>
                  </li>
                </ul>
                <ul class="col-md-offset-9 col-md-3 col-xs-12 main-nav__ul">
                  <li>
                    <a routerLink="{{'/categories'}}" (click)="closeNavMegaMenu('catMenu')">
                      {{'header.all-categories' | translate}}
                    </a>
                  </li>
                </ul>

              </div>
            </li> <!-- categories -->

            <!-- Countries -->

            <li *ngIf="this.constant.showCountries()" id="countryMenu" class="has-children">
              <span (click)="toggleMobileSubMenu('countryMenu')" class="main-nav__toggle"></span>
              <a class="pointer"
                 (mouseenter)="toggleDesktopSubMenu('countryMenu')"
                 (click)="toggleMobileSubMenu('countryMenu')">
                {{'header.countries'| translate}}
              </a>
              <div class="main-nav__megamenu clearfix">
                <ul class="col-md-3 col-xs-12 main-nav__ul" *ngFor="let countryArray of countryS.countriesMenu">
                  <li *ngFor="let country of countryArray">
                    <a routerLink="{{'/' + country.link}}" (click)="closeNavMegaMenu('countryMenu')">
                      <figure class="post-author__avatar country_list_flag">
                        <img src="{{countryS.getFlagUrlWithCode(country.code)}}"
                             (error)="$event.target.src=countryS.defaultUserLogo">
                      </figure>
                      {{country.name.slice(0,18) + ' (' + country.size +')'}}
                    </a>
                  </li>
                  <li *ngIf="countryS.countriesMenu.indexOf(countryArray) == countryS.countriesMenu.length-1">
                    <a routerLink="/world-map-of-sex-cams" (click)="closeNavMegaMenu('countryMenu')">
                      {{'header.all-countries' |
                      translate}}
                    </a>
                  </li>
                </ul>
              </div>
            </li> <!-- Countries -->


            <!-- Cam Sites (only mobile) -->
            <li *ngIf="this.screen.isHiddenLgUp()" id="siteMenu" class="has-children">
              <span (click)="toggleMobileSubMenu('siteMenu')" class="main-nav__toggle"></span>
              <a class="pointer"
                (mouseenter)="toggleDesktopSubMenu('siteMenu')"
                (click)="toggleMobileSubMenu('siteMenu')">{{'header.sites'| translate}}
              </a>
              <div class="main-nav__megamenu clearfix">

                <ul class="col-md-3 col-xs-12 main-nav__ul">
                  <li *ngFor="let category of categoryS.providers">
                    <a routerLink="{{'/' + category.path}}" (click)="closeNavMegaMenu('siteMenu')">
                      {{'provider.' + CategoryCode()[category.code] | translate}}
                    </a>
                  </li>
                </ul>

              </div>
            </li> <!-- Cam Sites (only mobile) -->


            <!-- World Map -->
            <li *ngIf="this.constant.showCountries()" class="nav-world-map-main">
              <a routerLink="/world-map-of-sex-cams" (click)="closeNavMegaMenu()">{{'header.world-map'| translate}}</a>
            </li>
            <!-- World Map -->

            <!-- Roulette -->
            <li class="nav-world-map-main">
              <a routerLink="/roulette" (click)="closeNavMegaMenu()">{{'header.roulette'| translate}}</a>
            </li>
            <!-- Roulette -->

            <!-- All Categories (only mobile) -->
            <li *ngIf="this.screen.isHiddenLgUp()">
              <a routerLink="/categories" (click)="closeNavMegaMenu()">{{'header.all-categories-2'| translate}}</a>
            </li>
            <!-- Sitemap -->

            <!-- Sitemap (only mobile) -->
            <li *ngIf="this.screen.isHiddenLgUp() && !this.constant.isSubSite()">
              <a routerLink="/sitemap" (click)="closeNavMegaMenu()">{{'sitemap-page.title'| translate}}</a>
            </li>
            <!-- Sitemap -->

            <li class="nav-account__item">
              <a *ngIf="!this.constant.isSubSite()" routerLink="/blog/how-to-become-a-webcam-model" (click)="closeNavMegaMenu()">
                <span>{{'header.models-wanted' | translate}}</span>
              </a>
              <a *ngIf="this.constant.isSubSite()" href="https://www.lemoncams.com/blog/how-to-become-a-webcam-model" target="_blank">
                <span>{{'header.models-wanted' | translate}}</span>
              </a>
            </li>

            <li class="nav-account__item">
              <a routerLink="/about" (click)="closeNavMegaMenu()">
                <span>{{'header.about' | translate}}</span>
              </a>
            </li>

            <li *ngIf="this.constant.showCountries()" class="nav-account__item nav-world-map-top">
              <a routerLink="/world-map-of-sex-cams" (click)="closeNavMegaMenu()">
                <i class="fa fa-globe"></i>
                <span class="nav-top-text">{{'header.world-map' | translate}}</span>
              </a>
            </li>

            <li class="nav-account__item">
              <a routerLink="/blog" (click)="closeNavMegaMenu()">
                <span>{{'header.blog' | translate}}</span>
              </a>
            </li>

            <li *ngIf="!this.constant.isSubSite()" class="nav-account__item">
              <a [href]="constant.TWITTER_LINK" class="social-links__link"
                 rel="noopener"
                 target="_blank"
                 data-placement="bottom">
                <i class="fa fa-twitter"></i>
                <span class="nav-top-text">Twitter</span>
              </a>
            </li>

            <li *ngFor="let partner of partnerS.tops" class="nav-account__item">
              <a [href]="partner.link" target="_blank" rel="noopener">
                <span>{{partner.text}}</span>
              </a>
            </li>

          </ul><!-- main nav list -->

        </nav>
        <!-- Main Navigation / End -->

        <!-- AutoComplete Desktop -->
        <div *ngIf="this.autoComplete.hasResults()" class="autocomplete-container">
          <div class="autocomplete-child">
            <ul class="dropdown-menu dropdown-menu-autocomplete">
              <li *ngFor="let item of this.autoComplete.autocompleteResults; let i = index"
                class="dropdown-item"
                [ngClass]="this.autoComplete.isSelectedIndex(i) ? 'dropdown-item-selected' : ''">
                <a (mouseover)="this.autoComplete.mouseOver(i)"
                  (mouseout)="this.autoComplete.mouseOut()"
                  (click)="this.autoComplete.clearAutocomplete(true)"
                  [routerLink]="['/' + item.path]">{{item.name}}</a>
              </li>
            </ul>
          </div>
        </div> <!--AutoComplete Desktop -->

      </div>
    </div>
  </div>
  <!-- Header Primary / End -->

</header>
