.header__top-bar {
  background-color: transparent;
}

.header-logo {
  bottom: -5px;
  left: 15px;
  width: 320px;
}

.header-logo__img {
  -webkit-filter: drop-shadow(15px 15px 5px #000000);
  filter: drop-shadow(15px 15px 5px #000000);
}

.header-mobile__logo-img {
  -webkit-filter: drop-shadow(15px 15px 5px #000000);
  filter: drop-shadow(15px 15px 5px #000000);
}

@media (max-width: 991px) {
  .main-nav .header-search-form {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .header-search-form {
    display: inline-block;
    float: right;
    width: 230px;
  }
}

@media (min-width: 1200px) {
  .header-search-form {
    display: inline-block;
    float: right;
    width: 230px;
  }
}

@media (min-width: 992px) {
  .main-nav__list {
    border-left: none;
    float: right;
  }
}

@media only screen and (max-width: 991px) {
  .header-mobile__logo-img {
    width: 130px;
  }
}

@media only screen and (max-width: 991px) {
  .header-mobile__logo {
    top: 0px;
  }
}

@media only screen and (max-width: 991px) {
  .header-mobile--expanded .header-search-form {
    top: 7px;
    height: 50px;
  }
}

.header__primary-inner::before {
  width: 370px;
}

.header__primary-inner {
  background-color: transparent;
}

.header__primary::after {
  background-color: transparent;
}

.main-nav {
  text-align: left;
}

input.header-mobile__search-control {
  color: #fff;
}

.nav-top-text {
  margin-left: 5px;
}

@media only screen and (min-width: 1400px) {
  .nav-world-map-top {
    display: none !important;
  }
}

@media only screen and (max-width: 991px) {
  .nav-world-map-top {
    display: none !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
  .nav-world-map-main {
    display: none !important;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1500px) {
  .main-nav__list > li > a {
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .autocomplete-child {
    position: relative;
    margin: 0 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .autocomplete-child {
    position: relative;
    margin: 0 3px;
  }
}

@media (max-width: 991px) {
  .dropdown-menu-autocomplete {
    top: 5px;
    display: block;
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    min-width: 100%;
    filter: drop-shadow(15px 15px 5px #000);
  }
}

@media (min-width: 992px) {
  .autocomplete-container {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  .autocomplete-child {
    width: 230px;
    position: absolute;
    top: 46px;
  }
}

@media (min-width: 992px) {
  .dropdown-menu-autocomplete {
    display: block;
    min-width: 230px;
    filter: drop-shadow(15px 15px 5px #000);
  }
}

.dropdown-item-selected {
  background-color: #f5f5f5;
}
