<div *ngIf="page || url" class="site-content">
  <div class="container">
    <div class="row"><!-- Content -->

      <div *ngIf="page" class="content col-lg-9"><!-- Posts List -->
        <app-blog-page [page]="page"></app-blog-page>
      </div>

      <div *ngIf="url" class="content col-lg-9"><!-- Posts List -->
        <app-blog-entry [url]="url"></app-blog-entry>
      </div>

      <div id="sidebar" class="sidebar col-lg-3">

        <app-country-thumb></app-country-thumb>

        <app-tag-cloud></app-tag-cloud>

        <!-- TODO popular blog entries -->
<!--        <aside class="widget widget&#45;&#45;sidebar card widget-popular-posts">
          <div class="widget__title card__header"><h4>{{"blog-page.popular" | translate}}</h4></div>
          <div class="widget__content card__content">
            <ul class="posts posts&#45;&#45;simple-list">

              <li *ngFor="let blogEntry of blogEntries" class="posts__item posts__item&#45;&#45;category-1">
                <div class="posts__inner">
                  <div class="posts__cat"><span class="label posts__cat-label">{{blogEntry.category}}</span></div>
                  <h6 class="posts__title"><a href="#">{{blogEntry.title}}</a></h6>
                  <time [dateTime]="blogEntry.date" class="posts__date">{{blogEntry.date}}</time>
                </div>

              </li>
            </ul>
          </div>
        </aside>-->

      </div>
    </div>
  </div>
</div>
