<h2 id="title" hidden>Terms and Conditions of Service</h2>

<h4>Introduction</h4>

<p>
  Welcome, these are the Terms and Conditions of Service (hereinafter, the “Terms”) for the website {{domain}}
  (the “Site”), including its sub-domains and its mobile optimized versions, along with any products and services
  offered thereby. These Terms shall supplement our Privacy Policy (the “Policy”), incorporated herein by reference.
</p>

<p>
  The Site and the provided products and services are delivered by {{website}} (hereinafter referred to as “{{website}}”).
  The terms ‘us’, ‘its’, ‘ours’ and/or ‘we’, as used herein, refer to us, {{website}} and/or our affiliates, assignees,
  successors and/or brands. As used herein, the terms ‘you’, ‘your’, and/or ‘yourself’ refer to you, a
  user/visitor/browser of our Site, whether registered under an account or not.
</p>

<p>
  All terms hereon refer to the offer, acceptance and consideration necessary to undertake the process of our assistance
  to our users in the most appropriate manner, whether by formal meetings of a fixed duration, or any other means, for
  the express purpose of meeting of our customer’s needs in respect of provision of {{website}} stated products and
  services.
  Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are
  taken as interchangeable and therefore as referring to same.
  By accessing this Site, you are agreeing to be bound by these web site terms and conditions of use, all applicable
  laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not
  agree with any of these Terms, you are prohibited from using or accessing this Site. The materials contained in this
  Site are protected by applicable copyright and trade mark law.
</p>

<h4>Services Offered</h4>

<p>
  {{website}} agrees to furnish its personal entertainment services (the “Services”) to the visitors that browse the Site,
  all subject to the following Terms.
</p>

<h4>Updates</h4>

<p>
  {{website}} reserves the right to modify, amend, suspend, terminate, upgrade, update or otherwise modify these Terms, at
  any time and without notice. Any changes will be displayed in the Site, and we may notify you by email. Please refer
  to the last effective date where changes were last undertaken by us. Your use of our Services after the effective date
  of any update– either by an account registration or simple use – thereby indicates your acceptance thereof.
  {{website}} encourages you to report violations of our Terms. Users undertaking conducts that may constitute a factual
  –or even alleged– breach of these Terms, including but not limiting, using automated mechanisms to make fraudulent
  communications, may become subject to immediate account suspension / termination, at our sole and final discretion,
  without notice and without responsibility.
</p>

<h4>Limited License</h4>

<p>
  Limited License: Subject to compliance with these Terms, {{website}} grants you a limited, non-exclusive,
  revocable and non-transferable license to utilize and access the Site and Services. You are prohibited from reselling,
  commercializing, duplicating, re-engineering, reverse engineering, modifying or otherwise using our digital goods, in
  whole or in part
</p>

<p>
  User Generated Content License: You hereby grant {{website}} an unlimited, non-exclusive, sub-licensable, assignable,
  royalty-free, perpetual, irrevocable, for all the countries and territories through the world, right and license to
  use, host, store, reproduce, modify, create derivative works (such as those resulting from translations, adaptations
  or other changes), communicate, publish, publicly perform, publicly display and distribute such any content you may
  upload, disseminate, deliver, create or transfer any post, original audio file, message, chat, files uploaded, data
  inputted, e-mails sent, or otherwise any content delivered to {{website}} via the Site or the Services.
</p>

<p>
  You represent and warrant to {{website}} that you have all rights, authorizations or otherwise hold sufficient title for
  any and all content submitted to {{website}} as set forth herein.
</p>

<h4>Copyright and Content Ownership</h4>

<p>
  The trademarks, copyright, service marks, trademarks, registered service marks and/or registered trademarks, trade
  names and other intellectual property rights and proprietary notices displayed on the Site, and our products and
  services are the property of –or otherwise are licensed to– {{website}}, its licensors or affiliates, or the respective
  title holders, whether acknowledged (or not), and which are protected under intellectual and proprietary rights in the
  United States of America and other jurisdictions throughout the world.
  Respective title holders may or may not be affiliated with us or our affiliates, partners and advertisers. No section
  hereof shall be construed as intent to grant to you any right transfer or interest in the Site and our products and
  services.
</p>

<h4>Service Eligibility</h4>

<p>
  {{website}} encourages parents, legal guardians and responsible adults to be actively involved in the safe use of the
  Internet by children and minors. {{website}} does not provide its Services to persons under the age of eighteen (18). If
  you are under such age, you may not access the Site or our Services under any circumstance.
  We reserve the right to request any and all applicable proof of identification and consent earthier from our users of
  from their legal parents or guardians, at any moment, without prior notice, and at our sole and final discretion.
  {{website}} hereby disclaims any and all responsibility resulting from any misrepresentations concerning a user’s age.
</p>

<p>
  {{website}} is wholly committed to raising awareness on the issue of human trafficking and engages in best practices and
  advocacy. In the event we become aware of any purported incident of trafficking, we will promptly cooperate with law
  enforcement and agencies involved in combating the abuse of human rights.
  Please report any suspected sexual exploitation of minors and/or human trafficking to the appropriate authorities.
</p>

<h4>Prohibited Activities</h4>

<p>
  As our user, you agree to not undertake, motivate, or facilitate the use or access of the Site, the Products or the
  Services in order to:
</p>

<ul>
  <li>Infringe these Terms, or allow, encourage or facilitate others to do so.</li>
  <li>Plagiarize and/or infringe the intellectual property rights or privacy rights of any third party, including any
    breach of confidence, copyright, trademark, patent, trade secret, moral right, privacy right, right of publicity, or
    any other intellectual property or proprietary right.
  </li>
  <li>Collect, receive, transfer or disseminate any personally identifiable information of any person without due
    consent from the title holder.
  </li>
  <li>Republish, sell, rent or sub-license content or materials from the Site without our authorization.</li>
  <li>Reproduce, duplicate or copy material from the Site without our authorization.</li>
</ul>

<h4>Term, Termination</h4>

<p>
  The term hereof shall begin on the date that comes first among first access to the Site; or your first access or
  execution of any of our Services.
</p>

<h4>Third Party Links</h4>

<p>
  The Site and the Services may contain hyperlinks to other websites. These links are for your personal convenience and
  to provide you with further information which may be of interest to you. The provision of such links does not imply
  any endorsement of such third party websites, products or services.
  If you find any link on our Site or any linked web site objectionable for any reason, you may contact us about this.
  We will consider requests to remove links but will have no obligation to do so or to respond directly to you.
</p>

<h4>User Privacy</h4>

<p>By disclosing any data and personally identifying information to us, you agree to our Policy.</p>

<h4>Disclaimer of Warranty</h4>

<p>
  To the fullest extent permissible under applicable law, the Site and the Services are provided to you “as is”, with
  “all faults” and “as available”, without warranty of any kind. {{website}}, and its affiliates, clients, agents,
  officers, licensors and/or distributors, do not make, and hereby disclaim, any and all express, implied or statutory
  warranties, either by statute, common law, custom, usage of trade, course of dealing or otherwise, however arising,
  including implied warranties of description, quality, fitness for a particular purpose, non-infringement,
  non-interference with use and/or enjoyment.
</p>

<p>
  Nothing in this disclaimer will limit or exclude our or your liability for death or personal injury resulting from
  negligence; limit or exclude our or your liability for fraud or fraudulent misrepresentation; limit any of our or your
  liabilities in any way that is not permitted under applicable law; or exclude any of our or your liabilities that may
  not be excluded under applicable law.
</p>

<p>
  In no event shall {{website}}, its affiliates, clients, agents, officers, licensors, distributors and/or any authorized
  third party, be held liable for any special, indirect, incidental or consequential damages, including losses, costs or
  expenses of any kind resulting from possession, access, use, inaccessibility or malfunction of the Site or the
  Services, including but not limited to, loss of revenue, profits, business, loss of use or lack of availability of
  computer resources; whatsoever arising out of or related thereto, whether arising in tort (including negligence),
  contract, strict liability or other legal or equitable theory and whether or not {{website}}, its affiliates, clients,
  licensors and/or distributors have been advised of the possibility of such damages.
</p>

<h4> Limitation of Liability</h4>

<p>
  In no event shall {{website}}’s, or its affiliates’, clients’, licensors’ and/or distributors’ liability for all damages
  (except as required by applicable law) exceed the amount of USD$50.00 (Fifty United States Dollars); and henceforth
  any award for direct, provable damages shall not exceed such total amount.
  These Terms provide you specific legal rights, and you may have other rights that may vary from jurisdiction to
  jurisdiction. Legislation of some states/countries does not allow certain limitations of liability, and henceforth
  this limitation of liability shall apply to the fullest extent permitted by law in the applicable jurisdiction.
</p>

<h4>Specific Disclaimer</h4>

<p>
  {{website}} maintains a zero-tolerance policy for child exploitation in any way, shape, or form. All content on the Site
  for persons of legal age only, no exceptions. {{website}} does not tolerate users who feature this material, and it does
  not tolerate users who desire such material.
  {{website}} fully cooperates with any law-enforcement agencies investigating allegations of child exploitation.
  The Site is for persons of legal age only and you agree that you will take all reasonable measures to prevent access
  to this site by a person under the age of majority in your jurisdiction. This includes, but is not limited to, using
  all parental controls, password safeguards, filtering software, or other technological stopgaps that may prevent
  intentional or accidental access by a minor. These prevention measures are the user’s responsibility, and {{website}}
  shall not be responsible for a minor’s access to the Site from your computer.
</p>

<h4>Record-Keeping Requirement Exemption under 18 U.S.C. § 2257</h4>

<p>
  All persons appearing in any visual portrayal on this Site were over the age of eighteen (18) years at the time the
  image was created.
  All visual depictions displayed on {{domain}} which are provided by the managers of the Site are exempt from
  the requirements of 18 U.S.C. § 2257 and 28 C.F.R. 75 because:
</p>

<ul>
  <li>the depictions do not portray actual or simulated sexually explicit conduct as defined in 18 U.S.C. §
    2256(2)(A)(i)-(v);
  </li>
  <li>they do not portray depictions of the genitals or pubic area created after July 27, 2006,</li>
  <li>they do not portray simulated sexually explicit activity created after the effective date of Title 18 U.S.C.
    §2257A; and/or
  </li>
  <li>They were created prior to July 3, 1995</li>
</ul>

<p>
  {{website}} operator of the Site {{domain}} is not a producer of any visual depiction of actual or simulated
  sexual activity appearing on the website as defined by 18 U.S.C. § 2257(2)(A)(i)-(v) and 47 U.S.C. §230(c).
  The activities of {{website}} with respect to such depictions are limited to the transmission, storage, retrieval,
  and/or hosting of such depictions posted by third party users on areas of the Site specifically under that user’s sole
  and final control.
  Pursuant to 18 U.S.C. § 2257(h)(B)(v), {{website}} reserve the right to remove content made by any user that {{website}}
  deems inappropriate or inconsistent with their internal terms and policies or that is in violation of applicable law.
</p>

<h4>Indemnification</h4>

<p>
  You agree and acknowledge to indemnify, hold harmless, and defend {{website}}, its affiliates, clients, agents,
  officers, licensors, distributors and/or any authorized representatives, and the officers, directors and employees of
  each (jointly, the “{{website}} Indemnities”) from and against any and all third party liabilities, claims, causes of
  action, suits, losses, damages, fines, judgments, settlements and expenses (including any and all reasonable outside
  attorneys’ fees and court costs) which may be suffered, made or incurred by any of such {{website}} Indemnities arising
  out of or relating to: (i) any breach of any warranties, representations and/or covenants made by you hereunder (to
  the extent not arising substantially from any breach hereof by {{website}}); and/or (ii) any third party claim arising
  out of or in relation to the Site, the Products or the Services or use thereof in combination with your business
  platform, including without limitation, any claim that the Site, the Products or the Services violate, infringe, or
  misappropriate any proprietary or intellectual property right of any third party, including without limitation, any
  privacy right of any person.
</p>

<h4>Generals</h4>

<p>Assignment: These Terms will inure to the benefit of any successors of the parties.</p>

<p>Force Majeure: {{website}} shall not liable for any failure of performance on its obligations as set forth herein,
  where such failure arises from any cause beyond {{website}} reasonable control, including but not limiting to,
  electronic, power, mechanic or Internet failure.</p>

<p>Entire Agreement: These Terms set forth the entire agreement between the parties hereof and may not be altered or
  amended except in writing signed by each both parties.</p>

<p>Language: These Terms may be translated into other languages, but English shall be and remain the official language
  of this agreement and in any conflict between the English language version and any other version, the English language
  version shall control.</p>

<p>Newsletters: The Site may allow you to subscribe to our newsletter service, which may be provided by us or through an
  authorized third party. Through our newsletters, you may receive information according to your subscriber preferences.
  As our subscriber, you will receive a conspicuous communication indicating any subscription and you will be able to
  select the amount and type of emails received by you. If you wish to unsubscribe, you will find ‘unsubscribe’ and
  similar links on our communications.</p>

<p>No Relationship: You and {{website}} are independent contractors, and no agency, partnership, joint venture,
  employee-employer, or franchiser-franchisee relationship is intended or created by these Terms.</p>

<p>No Waiver: Failure by {{website}} to enforce any rights hereunder shall not be construed as a waiver of any rights with
  respect to the subject matter hereof. </p>

<p>Severability: If any provision of these Terms is held unenforceable, then such provision will be modified to reflect
  the parties' intention. All remaining provisions of these Terms will remain in full force and effect.</p>

<h4>Applicable Law, Dispute Resolution</h4>

<p>Applicable Law, Forum: For any claim, cause of action, or dispute you have against us that arises out of or relates
  to these Terms, you agree that it will be resolved exclusively in the federal or state courts with jurisdiction in
  Belize. You also agree to submit to the personal jurisdiction of either of these courts for the purpose of litigating
  any such claim, and that the laws of Belize will govern these Terms and any claim, without regard to conflict of law
  provisions. If you bring a dispute in a manner other than in accordance with this section, you agree that we may move
  to have it dismissed, and that you will be responsible for our reasonable attorney’s fees, court costs, and
  disbursements in doing so.</p>

<p>Waiver of Class Actions, Non-Individualized Relief: You acknowledge and accept that claims brought against {{website}}
  shall be only on an individual basis and not as a plaintiff or class member in any possible future class or
  representative action or similar proceeding. Unless otherwise agreed by you and {{website}}, you may not adjoin or
  consolidate any claim with more than one person's; and you may not otherwise supervise or take over any form of a
  class, representative or consolidated proceeding.</p>

<p>Waiver of Jury Trial: The parties herein waive their constitutional and statutory rights to go to court and have a
  trial in front of a judge or a jury, instead electing that all claims and disputes be resolved by a competent
  judge.</p>

<p>Date of last effective update is 01.08.2018.</p>
