.block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 1.8em;
  height: 5.4em; /* max-height = line-height (1.2) * lines max number (3) */
  margin-right: -1em;
  margin-bottom: 0;
}

.block-with-text:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
}

.block-with-text-top-list {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  height: 3.6em; /* max-height = line-height (1.2) * lines max number (3) */
  margin-right: -1em;
  margin-bottom: 0;
  max-width: 100%;
}

.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: #292c31;
}

.block-with-text-inner {
  text-transform: uppercase;
  letter-spacing: -0.03em;
  font-style: normal;
  color: white;
}

.ratio_4-3 {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding-top: 75%;
  position: relative;
  background-color: #a9a9a93d;
}

.ratio_4-3 img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.posts__item--card .post__meta {
  display: block;
  width: auto;
}

.footer-block {
  display: block;
  padding: 8px 14px 8px 8px;
}

.footer-wrapper {
  display: flex;
  height: 40px;
}

.footer-image-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-image {
  width: 30px;
  border-radius: 50%
}

.footer-information-wrapper {
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 100%;
  padding-left: 7px
}

.footer-username-wrapper {
  width: 100%;
  height: 20px;
}

.footer-username {
  font-size: 16px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-username:hover {
  color: #ffdc11;
}

.footer-location-wrapper {
  width: 100%;
  height: 20px;
  font-size: 12px
}

.footer-location-info {
  width: 100px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #9a9da2;
}

.footer-location-info-hover:hover {
  text-decoration: underline;
}

.posts__cat-label {
  color: #1e2024;
}

.top-label {
  left: 0;
  top: 0;
}

.bottom-label {
  position: absolute;
  bottom: 0 !important;
  width: 85px;
  height: 35px;
  margin-left: 5px;
}

.posts__cat-bottom {
  z-index: 1;
}

.top-label span {
  font-size: 15px;
  border-radius: 0 0 0.25em 0;
}


@media only screen and (min-width: 768px) {
  .posts__thumb_except_mobile {
    width: 100px;
  }
}
