<!-- POST ITEM -->
<div
  inViewport
  [inViewportOptions]="{ threshold: [0] }"
  (inViewportAction)="onIntersection($event)"
  *ngIf="!isTopList" class="posts__item posts__item--card card"
  ngClass="posts__item--category-1">


  <!-- THUMB HEADER -->
  <figure class="posts__thumb ratio_4-3">
    <div *ngIf="rank" class="posts__cat top-label">
      <span class="label posts__cat-label">#{{rank}}</span>
    </div>
    <div *ngIf="cam.provider" class="posts__cat-bottom bottom-label">
      <img
        [src]="'/assets/images_hector/provider_logos/' + this.cam.provider + '_thumb.png'"
        alt="webcam provider"
      >
    </div>
    <div *ngIf="!rank && cam.isPrivate" class="posts__cat">
      <span class="label posts__cat-label">{{"cam-page.private" | translate}}</span>
    </div>
    <a [routerLink]="hasEmbedCam ? [detailLink] : currentUrl"
       (click)="!hasEmbedCam ? navigateToDetail() : null"
       [rel]="!hasEmbedCam ? 'nofollow' : ''"
       [title]="tooltip"
    >
      <img
        *ngIf="showImage"
        src="{{imageUrl}}"
        (error)="cam.imageUrl=null"
        alt="{{tooltip}}"
        title="{{tooltip}}">
    </a>
  </figure><!-- THUMB HEADER -->


  <!-- FOOTER -->
  <footer class="posts__footer card__footer footer-block">

    <!-- Footer Wrapper -->
    <div class="footer-wrapper">

      <!-- footer image -->
      <div class="footer-image-wrapper">
        <img class="footer-image" *ngIf="showImage"
             src="{{countryS.getFlagUrl(cam)}}"
             (error)="$event.target.src=countryS.defaultUserLogo"
             [alt]="countryTitle">
      </div>

      <!-- footer information -->
      <div class="footer-information-wrapper">

        <!-- footer username wrapper -->
        <div class="footer-username-wrapper">

          <!-- footer username -->
          <a [routerLink]="hasEmbedCam ? [detailLink] : currentUrl"
             (click)="!hasEmbedCam ? navigateToDetail() : null"
             [rel]="!hasEmbedCam ? 'nofollow' : ''">
          <span class="footer-username">{{(cam.username | slice:0:15) + ((cam.age) ? ' (' + cam.age + ')' : '')}}</span>
          </a>

        </div><!-- footer username wrapper -->

        <!-- footer location -->
        <div class="footer-location-wrapper">

          <!-- location info -->
          <div class="inline">
            <a *ngIf="countryLink" [href]="'/' + countryLink">
              <span title="{{locationInfo}}" class="footer-location-info footer-location-info-hover">
                {{locationInfo | slice:0:30}}
              </span>
            </a>
            <span *ngIf="!countryLink" title="{{locationInfo}}" class="footer-location-info">
                {{locationInfo | slice:0:30}}
              </span>
          </div>

          <!-- number of users -->
          <div class="float-right" *ngIf="!isAwEmpire">
            <div class="meta__item meta__item--views">{{cam.numberOfUsers}}</div>
          </div>

        </div> <!-- footer location -->

      </div>
    </div>

  </footer><!-- FOOTER -->

</div><!-- POST ITEM -->


<!-- Top List -->
<li inViewport
    [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="onIntersection($event)"
    *ngIf="isTopList">
  <figure class="posts__thumb posts__thumb_except_mobile">
    <a [routerLink]="hasEmbedCam ? [detailLink] : currentUrl"
       (click)="!hasEmbedCam ? navigateToDetail() : null"
       rel="{{!hasEmbedCam ? 'nofollow' : ''}}"
       title="{{tooltip}}"
    >
      <img *ngIf="showImage" src="{{imageUrl}}" (error)="cam.imageUrl=null" alt="{{tooltip}}" title="{{tooltip}}">
    </a>
  </figure>
  <div *ngIf="this.screen.isHiddenSmDown()" class="posts__inner">
    <div class="posts__cat">
      <span
        class="label posts__cat-label truncate">{{(cam.username | slice:0:15) + ((cam.age) ? ' (' + cam.age + ')' : '')}}</span>
    </div>
    <h6 class="block-with-text-top-list">
      <a
        [routerLink]="hasEmbedCam ? [detailLink] : currentUrl"
        (click)="!hasEmbedCam ? navigateToDetail() : null"
        rel="{{!hasEmbedCam ? 'nofollow' : ''}}"
        class="block-with-text-inner pointer"
        title="{{tooltip}}"> {{mainText}}
      </a>
    </h6>
  </div>

</li>
